In [1]:
import pandas as pd
import os
import json
import re
import pandas as pd
from rapidfuzz import fuzz
import plotly.graph_objects as go

In [2]:
# load json reference/itemsNumber.json
with open('references/itemNum.json') as f:
    ITEMS_NUMBERS = json.load(f)
with open('references/itemStandard.json') as f:
    ITEMS_STANDARD = json.load(f)
with open('references/items.json') as f:
    ITEMS = json.load(f)

In [3]:
# Helper functions
# -------------------------------------------------------------------

def find_misplaced_items(items_list, items_numbers=ITEMS_NUMBERS):
    """
    Given:
      items_list: a list of dicts like [{"label": ..., "page": ..., "text": ...}, ...]
      items_numbers: a dict mapping each label to its numeric order (float).
    
    Returns:
      misplaced_items: a list of items that cause the sequence to be invalid
                       and must be removed so that the rest follow ascending item order
                       and non-decreasing page number.
      valid_sequence:  a list of items that remain in the correct ascending chain.
    
    We do this by:
      1) Convert each item to (item_order, page, original_index).
      2) Sort by (item_order, then page).
      3) Find the LIS in terms of page among those sorted items.
      4) Everything not in that LIS is 'misplaced'.
    """
    # ----------------------------------------------------------------
    #    Convert items to a structure: (order_val, page, original_index)
    #    where order_val is from ITEMS_NUMBERS[label].
    # ----------------------------------------------------------------
    expanded = []
    for idx, item in enumerate(items_list):
        label = item["label"]
        page = item["page"]
        # If label not in items_numbers, set an arbitrary large or handle gracefully
        # but presumably all should be in items_numbers
        order_val = items_numbers.get(label, 100)  
        expanded.append((order_val, page, idx))
    
    # ----------------------------------------------------------------
    #    Sort the expanded items primarily by order_val, secondarily by page.
    #    This ensures we handle them in ascending item order, then by page.
    # ----------------------------------------------------------------
    expanded.sort(key=lambda x: (x[0], x[1]))

    # ----------------------------------------------------------------
    # 3) Find LIS by page among the sorted items
    #
    #    We want strictly ascending item_order (which we have by sort),
    #    but for page, we often want non-decreasing or strictly ascending.
    #    For safety, let's do strictly ascending by page as well.
    #    If you want to allow same-page items, use <= instead of < in the LIS check.
    # ----------------------------------------------------------------
    n = len(expanded)
    dp = [1] * n  # dp[i] = length of the LIS ending at i
    parent = [-1] * n  # to reconstruct the path

    max_len = 0
    max_end_idx = 0

    for i in range(n):
        for j in range(i):
            # item_order is already sorted by expanded, so we only check page
            # We want strictly ascending page, so page_j < page_i
            if expanded[j][1] <= expanded[i][1]:
                if dp[j] + 1 > dp[i]:
                    dp[i] = dp[j] + 1
                    parent[i] = j
        if dp[i] > max_len:
            max_len = dp[i]
            max_end_idx = i
    
    # ----------------------------------------------------------------
    #    Reconstruct the LIS
    # ----------------------------------------------------------------
    lis_indices = set()
    cur = max_end_idx

    if cur == 0:
        return None

    while cur != -1:
        lis_indices.add(cur)
        cur = parent[cur]
    
    # ----------------------------------------------------------------
    #    Identify misplaced (those not in the LIS) and valid (in LIS)
    # ----------------------------------------------------------------
    valid_sequence = []
    misplaced_items = []
    for i, triple in enumerate(expanded):
        _, _, original_idx = triple
        if i in lis_indices:
            valid_sequence.append(items_list[original_idx])
        else:
            misplaced_items.append(items_list[original_idx])

    # Check for misplaced items that have a previous element with the same label in items_list
    for misplaced in misplaced_items[:]:
        misplaced_index = items_list.index(misplaced)
        if misplaced_index > 0:
            previous_item = items_list[misplaced_index - 1]
            if misplaced["label"] == previous_item["label"]:
                misplaced_items.remove(misplaced)

    # Sort misplaced items first by page, then by the value of their label converted to number using items_numbers
    misplaced_items.sort(key=lambda x: (x["page"], items_numbers.get(x["label"], 100)))
    if misplaced_items and misplaced_items[0]["label"] == "item01and02":
        misplaced_items.pop(0)
    if len(misplaced_items)==0:
        return None
    # Return them as two separate lists
    return misplaced_items


def best_fuzzy_match(text, synonyms, threshold=0.8):
    """
    Return the best fuzzy match score among synonyms for the given text.
    If no synonyms match above threshold, returns (None, 0.0).
    Otherwise returns (best_synonym, best_score).
    """
    best_synonym = None
    best_score = 0.0
    
    for syn in synonyms:
        score = fuzz.ratio(text, syn)
        score = score / 100.0  # Convert 0-100 to 0-1 scale
        if score > best_score:
            best_score = score
            best_synonym = syn
    
    if best_score >= threshold:
        return best_synonym
    else:
        return None


def check_start(row):
    """
    Simple heuristic: check if text is short enough or starts with 'item' or 'part'
    """
    # For now, just check if it starts with "item"
    start_text = row['clean_text']
    start_contidion = (start_text.startswith('item') or start_text.startswith('part'))
    return start_contidion


def first_search(df, ITEMS_STANDARD=ITEMS_STANDARD, print_results=False):
    # if print_results:
    #     print('ID:', df.doc_id.unique())
    #     print()

    items_list = []
    for label, references in ITEMS_STANDARD.items():
        for _, row in df[(~df.is_noise)&(df['clean_text'].str.find('item')!=-1)].iterrows():
            text = row['clean_text']
            fuzz_best_match = best_fuzzy_match(text, references)
            if fuzz_best_match:
                if check_start(row):
                    items_list.append({'label': label, 'page': row.page_number, 'id': row.name, 'text': row['md_text'], 'index': row.name})

    labels = [i['label'] for i in items_list]

    missing_items = [i for i in ITEMS.keys() if i not in labels]
    if any(i in labels for i in ['item01', 'item01c', 'item02']):
        if 'item01and02' in missing_items:
            missing_items.remove('item01and02')
    elif 'item01and02' in labels:
        missing_items = [i for i in missing_items if i not in ['item01', 'item01c', 'item02']]

    duplicate_items = [i for i in labels if labels.count(i)>1]
    duplicate_items = sorted(list(set(duplicate_items)))
    
    # Remove unescaped toc
    if duplicate_items:
        duplicate_pages = [i['page'] for i in items_list if i['label'] in duplicate_items]
        duplicate_pages = (list(set(duplicate_pages)))

        all_pages = sorted(list(set([i['page'] for i in items_list])))

        min_duplicate_page = min(duplicate_pages)

        if min_duplicate_page == min(all_pages) and min_duplicate_page < 7:
            page_text = ' '.join(df.loc[df['page_number'] == min_duplicate_page, 'clean_text'].astype(str).tolist())
            if page_text.lower().count('item') >= 8:
                print(f"Removing toc at page {min_duplicate_page}")
                df.loc[df['page_number'] == min_duplicate_page, ['is_noise', 'noise_type']] = [True, 'toc']
                duplicate_pages = [page for page in duplicate_pages if page != min_duplicate_page]
                items_list = [i for i in items_list if i['page'] != min_duplicate_page]
                labels = [i['label'] for i in items_list]
                duplicate_items = [i for i in labels if labels.count(i)>1]
                duplicate_items = sorted(list(set(duplicate_items)))



    misplaced_items = []
    
    misplaced =  find_misplaced_items(items_list)

    if misplaced:
        # Remove misplaced items that have a label present in duplicate_items from items_list
        for misplaced_item in misplaced:
            target_label = misplaced_item['label']
            if target_label in duplicate_items:
                items_list = [item for item in items_list if item['id'] != misplaced_item['id']]
                # list of all labels in items_list
                labels = [i['label'] for i in items_list]
                # if only one entry for target_label, remove it from duplicate_items
                if labels.count(target_label) == 1:
                    duplicate_items.remove(target_label)
                # remove target_label from misplaced
                misplaced.remove(misplaced_item)
        if misplaced:
            misplaced_items = [{'label': i['label'], 'id': i['id']} for i in misplaced]
    else:
        misplaced = []

    # Update duplicate_items list
    for label in duplicate_items[:]:
        if labels.count(label) == 1:
            duplicate_items.remove(label)

    # Check for specific items in the clean_text of the dataframe
    if 'item01c' in missing_items:
        search_terms = ['item 1c', 'item 1 c ', 'item 1c.', 'item 1.c ']
        found = any(df['clean_text'].str.contains('|'.join(search_terms), case=False, na=False))
        if not found:
            missing_items.remove('item01c')

    if 'item09c' in missing_items:
        search_terms = ['item 9c', 'item 9 c ', 'item 9c.', 'item 9.c ']
        found = any(df['clean_text'].str.contains('|'.join(search_terms), case=False, na=False))
        if not found:
            missing_items.remove('item09c')

    if 'item16' in missing_items:
        search_terms = ['item 16']
        found = any(df['clean_text'].str.contains('|'.join(search_terms), case=False, na=False))
        if not found:
            missing_items.remove('item16')


    if print_results:
        print('missing:', missing_items)
        print()   
        print('duplicates:', duplicate_items)
        print()
        print('misplaced:', misplaced)
        print()

    full_list = {'missing': missing_items, 'duplicates': duplicate_items, 'misplaced': misplaced_items, 'detected': items_list}

    return full_list

In [4]:
test_folder_path = 'outputs/train'

filenames_test = [f for f in os.listdir(test_folder_path) if f.startswith('t')]
filenames_test = sorted(filenames_test)

dfs = []

for filename in filenames_test:
    print(f"Document ID: {filename}")

    df = pd.read_parquet(f'{test_folder_path}/{filename}/df_toc.parquet')

    df = df[~df['clean_text'].isin(['part i', 'part ii', 'part iii', 'part iv'])]

    df['md_text'] = df['md_text'].apply(lambda x: re.sub(r'\*\*\s+\*\*', '', x))

    result = first_search(df, print_results=True)
    detected = result['detected']

    df['item'] = ''

    if detected:
        for item in detected:
            df.at[item['id'], 'item'] = item['label']

    # Json dumo results
    with open(f'{test_folder_path}/{filename}/item_fuzz.json', 'w') as f:
        json.dump(result, f, indent=4)

    df.to_parquet(f'{test_folder_path}/{filename}/df_item_fuzz.parquet')
    display(df)
    print('-'*50)

    dfs.append(df)

Document ID: tr00_0000001800_0001047469-15-001377
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr00_0000001800_0001047469-15-001377,0,0,10-K 1 a2222655z10-k.htm 10-K,10 k 1 a2222655z10 k.htm 10 k,,NaN,NaN,True,cover,NaN
20,tr00_0000001800_0001047469-15-001377,0,1,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
30,tr00_0000001800_0001047469-15-001377,0,2,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
40,tr00_0000001800_0001047469-15-001377,0,3,"**WASHINGTON, D. C. 20549**","washington, d. c. 20549",,NaN,NaN,True,cover,NaN
50,tr00_0000001800_0001047469-15-001377,0,4,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
15840,tr00_0000001800_0001047469-15-001377,105,29,The 2015 Abbott Laboratories Proxy Statement w...,the 2015 abbott laboratories proxy statement w...,,NaN,NaN,False,None,105.0
15850,tr00_0000001800_0001047469-15-001377,105,30,- Incorporated herein by reference. Commission...,incorporated herein by reference. commission f...,,NaN,NaN,False,None,105.0
15860,tr00_0000001800_0001047469-15-001377,105,31,** Denotes management contract or compensatory...,denotes management contract or compensatory pl...,,NaN,NaN,False,None,105.0
15870,tr00_0000001800_0001047469-15-001377,105,32,Abbott will furnish copies of any of the above...,abbott will furnish copies of any of the above...,,NaN,NaN,False,None,105.0
15880,tr00_0000001800_0001047469-15-001377,105,33,105,105,,NaN,NaN,True,page_number,105.0

--------------------------------------------------
Document ID: tr01_0000002488_0000002488-16-000111
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr01_0000002488_0000002488-16-000111,0,0,10-K 1 amd-12262015x10k.htm 10-K,10 k 1 amd 12262015x10k.htm 10 k,,NaN,NaN,True,cover,NaN
20,tr01_0000002488_0000002488-16-000111,0,1,**(Mark One)**,(mark one),,NaN,NaN,True,cover,NaN
30,tr01_0000002488_0000002488-16-000111,0,2,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
40,tr01_0000002488_0000002488-16-000111,0,3,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
50,tr01_0000002488_0000002488-16-000111,0,4,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
21980,tr01_0000002488_0000002488-16-000111,106,12,Years ended:,years ended:,,NaN,NaN,False,None,105.0
21990,tr01_0000002488_0000002488-16-000111,106,13,"December 28, 2013 $ 2 $ (2) $ — $ —","december 28, 2013 $ 2 $ (2) $ — $ —",,NaN,NaN,False,None,105.0
22000,tr01_0000002488_0000002488-16-000111,106,14,"December 27, 2014 $ — $ — $ — $ —","december 27, 2014 $ — $ — $ — $ —",,NaN,NaN,False,None,105.0
22010,tr01_0000002488_0000002488-16-000111,106,15,"December 26, 2015 $ — $ — $ — $ —\n(1) Account...","december 26, 2015 $ — $ — $ — $ — (1) accounts...",,NaN,NaN,False,None,105.0
22020,tr01_0000002488_0000002488-16-000111,106,16,105,105,,NaN,NaN,True,page_number,105.0

--------------------------------------------------
Document ID: tr02_0000004127_0000004127-20-000058
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr02_0000004127_0000004127-20-000058,0,0,**UNITED STATES SECURITIES AND EXCHANGE COMMIS...,united states securities and exchange commission,,NaN,NaN,True,cover,NaN
20,tr02_0000004127_0000004127-20-000058,0,1,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
30,tr02_0000004127_0000004127-20-000058,0,2,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
40,tr02_0000004127_0000004127-20-000058,0,3,☑ ANNUAL REPORT PURSUANT TO SECTION 13 OR 15(d...,☑ annual report pursuant to section 13 or 15(d...,,NaN,NaN,True,cover,NaN
50,tr02_0000004127_0000004127-20-000058,0,4,"**For the fiscal year ended October 2, 2020**","for the fiscal year ended october 2, 2020",,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
11520,tr02_0000004127_0000004127-20-000058,67,5,/s/ Christine King\nChristine King\nDirector,/s/ christine king christine king director,,NaN,NaN,False,None,NaN
11530,tr02_0000004127_0000004127-20-000058,67,6,/s/ David P. McGlade\nDavid P. McGlade\nDirector,/s/ david p. mcglade david p. mcglade director,,NaN,NaN,False,None,NaN
11540,tr02_0000004127_0000004127-20-000058,67,7,/s/ Robert A. Schriesheim\nRobert A. Schrieshe...,/s/ robert a. schriesheim robert a. schrieshei...,,NaN,NaN,False,None,NaN
11550,tr02_0000004127_0000004127-20-000058,67,8,/s/ Kimberly S. Stevenson\nKimberly S. Stevens...,/s/ kimberly s. stevenson kimberly s. stevenso...,,NaN,NaN,False,None,NaN
11560,tr02_0000004127_0000004127-20-000058,67,9,68,68,,NaN,NaN,False,None,NaN

--------------------------------------------------
Document ID: tr03_0000004962_0000004962-23-000006
missing: ['item11', 'item12', 'item13']

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr03_0000004962_0000004962-23-000006,0,0,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
20,tr03_0000004962_0000004962-23-000006,0,1,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
30,tr03_0000004962_0000004962-23-000006,0,2,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
40,tr03_0000004962_0000004962-23-000006,0,3,**Form 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
50,tr03_0000004962_0000004962-23-000006,0,4,☑☑☑ **ANNUAL REPORT PURSUANT TO SECTION 13 OR ...,☑☑☑ annual report pursuant to section 13 or 15...,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
24630,tr03_0000004962_0000004962-23-000006,174,12,U.S. (a) **$45$56$177$170$448**\nNon U.S. (b) ...,u.s. (a) $ 45 $ 56 $ 177 $ 170 $ 448 non u.s. ...,,NaN,NaN,False,None,8.0
24640,tr03_0000004962_0000004962-23-000006,174,13,"|Card Member loans $ 3,747 Card Member receiva...","|card member loans $ 3,747 card member receiva...",,NaN,NaN,False,None,8.0
24650,tr03_0000004962_0000004962-23-000006,174,14,|U.S. (a) $ 45 Non U.S. (b) $ 1|$ 56 $ 1|$ 177...,|u.s. (a) $ 45 non u.s. (b) $ 1|$ 56 $ 1|$ 177...,,NaN,NaN,False,None,8.0
24660,tr03_0000004962_0000004962-23-000006,174,15,(a) We offer deposits within our U.S. bank sub...,(a) we offer deposits within our u.s. bank sub...,,NaN,NaN,False,None,8.0
24670,tr03_0000004962_0000004962-23-000006,174,16,A-8,a 8,,NaN,NaN,True,page_number,8.0

--------------------------------------------------
Document ID: tr04_0000010456_0001628280-24-003932
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr04_0000010456_0001628280-24-003932,0,0,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
20,tr04_0000010456_0001628280-24-003932,0,1,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
30,tr04_0000010456_0001628280-24-003932,0,2,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
40,tr04_0000010456_0001628280-24-003932,0,3,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
50,tr04_0000010456_0001628280-24-003932,0,4,**(Mark One)**,(mark one),,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
20100,tr04_0000010456_0001628280-24-003932,145,12,/s/ Cathy R. Smith Director\nCathy R. Smith,/s/ cathy r. smith director cathy r. smith,,NaN,NaN,False,None,143.0
20110,tr04_0000010456_0001628280-24-003932,145,13,/s/ Amy A. Wendell Director\nAmy A. Wendell,/s/ amy a. wendell director amy a. wendell,,NaN,NaN,False,None,143.0
20120,tr04_0000010456_0001628280-24-003932,145,14,"/s/ David S. Wilkes, M.D. Director\nDavid S. W...","/s/ david s. wilkes, m.d. director david s. wi...",,NaN,NaN,False,None,143.0
20130,tr04_0000010456_0001628280-24-003932,145,15,/s/ Peter M. Wilver Director\nPeter M. Wilver,/s/ peter m. wilver director peter m. wilver,,NaN,NaN,False,None,143.0
20140,tr04_0000010456_0001628280-24-003932,145,16,143,143,,NaN,NaN,True,page_number,143.0

--------------------------------------------------
Document ID: tr05_0000020286_0000020286-17-000013
missing: ['item09']

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr05_0000020286_0000020286-17-000013,0,0,10-K 1 cinf-20161231x10k.htm 10-K,10 k 1 cinf 20161231x10k.htm 10 k,,NaN,NaN,True,cover,NaN
20,tr05_0000020286_0000020286-17-000013,0,1,**United States Securities and Exchange Commis...,united states securities and exchange commission,,NaN,NaN,True,cover,NaN
30,tr05_0000020286_0000020286-17-000013,0,2,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
40,tr05_0000020286_0000020286-17-000013,0,3,**Form 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
50,tr05_0000020286_0000020286-17-000013,0,4, ANNUAL REPORT PURSUANT TO SECTION 13 OR 15(d..., annual report pursuant to section 13 or 15(d...,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
40950,tr05_0000020286_0000020286-17-000013,184,0,|Exhibit No.|Exhibit Description|\n|---|---|\n...,|exhibit no.|exhibit description| | | | |10.13...,,NaN,NaN,False,None,NaN
40960,tr05_0000020286_0000020286-17-000013,184,1,Cincinnati Financial Corporation - 2016 10-K -...,cincinnati financial corporation 2016 10 k pag...,,NaN,NaN,False,None,NaN
40970,tr05_0000020286_0000020286-17-000013,185,0,101.PRE XBRL Taxonomy Extension Presentation L...,101.pre xbrl taxonomy extension presentation l...,,NaN,NaN,False,None,NaN
40980,tr05_0000020286_0000020286-17-000013,185,1,Cincinnati Financial Corporation - 2016 10-K -...,cincinnati financial corporation 2016 10 k pag...,,NaN,NaN,False,None,NaN
40990,tr05_0000020286_0000020286-17-000013,185,2,|Exhibit No.|Exhibit Description|\n|---|---|\n...,|exhibit no.|exhibit description| | | | |10.33...,,NaN,NaN,False,None,NaN

--------------------------------------------------
Document ID: tr06_0000020286_0000020286-18-000012
missing: ['item09']

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr06_0000020286_0000020286-18-000012,0,0,10-K 1 cinf-20171231x10k.htm 10-K,10 k 1 cinf 20171231x10k.htm 10 k,,NaN,NaN,True,cover,NaN
20,tr06_0000020286_0000020286-18-000012,0,1,**United States Securities and Exchange Commis...,united states securities and exchange commission,,NaN,NaN,True,cover,NaN
30,tr06_0000020286_0000020286-18-000012,0,2,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
40,tr06_0000020286_0000020286-18-000012,0,3,**Form 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
50,tr06_0000020286_0000020286-18-000012,0,4, ANNUAL REPORT PURSUANT TO SECTION 13 OR 15(d..., annual report pursuant to section 13 or 15(d...,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
40030,tr06_0000020286_0000020286-18-000012,186,35,"John F. Steele, Jr. Director February 23, 2018","john f. steele, jr. director february 23, 2018",,NaN,NaN,False,None,NaN
40040,tr06_0000020286_0000020286-18-000012,186,36,/S/ Larry R. Webb,/s/ larry r. webb,,NaN,NaN,False,None,NaN
40050,tr06_0000020286_0000020286-18-000012,186,37,"Larry R. Webb Director February 23, 2018","larry r. webb director february 23, 2018",,NaN,NaN,False,None,NaN
40060,tr06_0000020286_0000020286-18-000012,186,38,Cincinnati Financial Corporation - 2017 10-K -...,cincinnati financial corporation 2017 10 k pag...,,NaN,NaN,False,None,NaN
40070,tr06_0000020286_0000020286-18-000012,186,39,|Signature|Title|Date|\n|---|---|---|\n|/S/ Ke...,|signature|title|date| | | | | |/s/ kenneth w....,,NaN,NaN,False,None,NaN

--------------------------------------------------
Document ID: tr07_0000029534_0001558370-17-002116
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr07_0000029534_0001558370-17-002116,0,0,10-K 1 dg-20170203x10k.htm 10-K,10 k 1 dg 20170203x10k.htm 10 k,,NaN,NaN,True,cover,NaN
20,tr07_0000029534_0001558370-17-002116,0,1,Table of Contents,table of contents,,NaN,NaN,True,cover,NaN
30,tr07_0000029534_0001558370-17-002116,0,2,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
40,tr07_0000029534_0001558370-17-002116,0,3,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
50,tr07_0000029534_0001558370-17-002116,0,4,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
11700,tr07_0000029534_0001558370-17-002116,82,8,101.LAB XBRL Taxonomy Extension Labels Linkbas...,101.lab xbrl taxonomy extension labels linkbas...,,NaN,NaN,False,None,83.0
11710,tr07_0000029534_0001558370-17-002116,82,9,101.PRE XBRL Taxonomy Extension Presentation L...,101.pre xbrl taxonomy extension presentation l...,,NaN,NaN,False,None,83.0
11720,tr07_0000029534_0001558370-17-002116,82,10,101.DEF XBRL Taxonomy Extension Definition Lin...,101.def xbrl taxonomy extension definition lin...,,NaN,NaN,False,None,83.0
11730,tr07_0000029534_0001558370-17-002116,82,11,- Management Contract or Compensatory Plan,management contract or compensatory plan,,NaN,NaN,False,None,83.0
11740,tr07_0000029534_0001558370-17-002116,82,12,83,83,,NaN,NaN,True,page_number,83.0

--------------------------------------------------
Document ID: tr08_0000029989_0000029989-18-000004
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr08_0000029989_0000029989-18-000004,0,0,10-K 1 a2017q410-k.htm 10-K,10 k 1 a2017q410 k.htm 10 k,,NaN,NaN,True,cover,NaN
20,tr08_0000029989_0000029989-18-000004,0,1,UNITED STATES\nSECURITIES AND EXCHANGE COMMISSION,united states securities and exchange commission,,NaN,NaN,True,cover,NaN
30,tr08_0000029989_0000029989-18-000004,0,2,"Washington, D.C. 20549","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
40,tr08_0000029989_0000029989-18-000004,0,3,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
50,tr08_0000029989_0000029989-18-000004,0,4,ANNUAL REPORT PURSUANT TO SECTION 13 OR 15(d) ...,annual report pursuant to section 13 or 15(d) ...,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
16820,tr08_0000029989_0000029989-18-000004,70,8,Allowance for Doubtful Accounts:,allowance for doubtful accounts:,,NaN,NaN,False,None,NaN
16830,tr08_0000029989_0000029989-18-000004,70,9,"December 31, 2017 $ 24.9 $ 15.1 $ (8.2) $ 0.3 ...","december 31, 2017 $ 24.9 $ 15.1 $ (8.2) $ 0.3 ...",,NaN,NaN,False,None,NaN
16840,tr08_0000029989_0000029989-18-000004,70,10,"December 31, 2016 22.5 10.2 (7.4) (0.4) 24.9","december 31, 2016 22.5 10.2 (7.4) (0.4) 24.9",,NaN,NaN,False,None,NaN
16850,tr08_0000029989_0000029989-18-000004,70,11,"December 31, 2015 24.9 4.4 (5.4) (1.4) 22.5","december 31, 2015 24.9 4.4 (5.4) (1.4) 22.5",,NaN,NaN,False,None,NaN
16860,tr08_0000029989_0000029989-18-000004,70,12,S-1,s 1,,NaN,NaN,False,None,NaN

--------------------------------------------------
Document ID: tr09_0000031462_0001558370-22-002059
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr09_0000031462_0001558370-22-002059,0,0,Table of Contents,table of contents,,NaN,NaN,True,cover,NaN
20,tr09_0000031462_0001558370-22-002059,0,1,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
30,tr09_0000031462_0001558370-22-002059,0,2,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
40,tr09_0000031462_0001558370-22-002059,0,3,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
50,tr09_0000031462_0001558370-22-002059,0,4,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
20630,tr09_0000031462_0001558370-22-002059,112,7,/s/ Scott D. Kirkland Chief Financial Officer\...,/s/ scott d. kirkland chief financial officer ...,,NaN,NaN,False,None,113.0
20640,tr09_0000031462_0001558370-22-002059,112,8,/s/ Jennifer J. Bradway Senior Vice President ...,/s/ jennifer j. bradway senior vice president ...,,NaN,NaN,False,None,113.0
20650,tr09_0000031462_0001558370-22-002059,112,9,/s/ Michael C. McCormick Directors\nMichael C....,/s/ michael c. mccormick directors michael c. ...,,NaN,NaN,False,None,113.0
20660,tr09_0000031462_0001558370-22-002059,112,10,as attorney-in-fact for:\nDouglas M. Baker Jr....,"as attorney in fact for: douglas m. baker jr.,...",,NaN,NaN,False,None,113.0
20670,tr09_0000031462_0001558370-22-002059,112,11,113,113,,NaN,NaN,True,page_number,113.0

--------------------------------------------------
Document ID: tr10_0000034088_0000034088-22-000011
missing: ['item06']

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr10_0000034088_0000034088-22-000011,0,0,**2021**,2021,,NaN,NaN,True,cover,NaN
20,tr10_0000034088_0000034088-22-000011,0,1,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
30,tr10_0000034088_0000034088-22-000011,0,2,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
40,tr10_0000034088_0000034088-22-000011,0,3,"**WASHINGTON, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
50,tr10_0000034088_0000034088-22-000011,0,4,**FORM10-K**,form 10 k,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
20450,tr10_0000034088_0000034088-22-000011,128,5,/s/ ALEXANDER A. KARSNER Director\n(Alexander ...,/s/ alexander a. karsner director (alexander a...,,NaN,NaN,False,None,127.0
20460,tr10_0000034088_0000034088-22-000011,128,6,/s/ JEFFREY W. UBBEN Director\n(Jeffrey W. Ubben),/s/ jeffrey w. ubben director (jeffrey w. ubben),,NaN,NaN,False,None,127.0
20470,tr10_0000034088_0000034088-22-000011,128,7,/s/ KATHRYN A. MIKELLS Senior Vice President a...,/s/ kathryn a. mikells senior vice president a...,,NaN,NaN,False,None,127.0
20480,tr10_0000034088_0000034088-22-000011,128,8,/s/ LEN M. FOX Vice President and Controller\n...,/s/ len m. fox vice president and controller (...,,NaN,NaN,False,None,127.0
20490,tr10_0000034088_0000034088-22-000011,128,9,127,127,,NaN,NaN,True,page_number,127.0

--------------------------------------------------
Document ID: tr11_0000045012_0000045012-18-000059
missing: ['item12']

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr11_0000045012_0000045012-18-000059,0,0,"10-K 1 hal_12312017-10k.htm DECEMBER 31, 2017 ...","10 k 1 hal 12312017 10k.htm december 31, 2017 ...",,NaN,NaN,True,cover,NaN
20,tr11_0000045012_0000045012-18-000059,0,1,**UNITED STATES SECURITIES AND EXCHANGE COMMIS...,united states securities and exchange commission,,NaN,NaN,True,cover,NaN
30,tr11_0000045012_0000045012-18-000059,0,2,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
40,tr11_0000045012_0000045012-18-000059,0,3,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
50,tr11_0000045012_0000045012-18-000059,0,4,(Mark One),(mark one),,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
17230,tr11_0000045012_0000045012-18-000059,79,23,- Debra L. Reed Director,debra l. reed director,,NaN,NaN,False,None,78.0
17240,tr11_0000045012_0000045012-18-000059,79,24,Debra L. Reed,debra l. reed,,NaN,NaN,False,None,78.0
17250,tr11_0000045012_0000045012-18-000059,79,25,/s/ Robb L. Voyles,/s/ robb l. voyles,,NaN,NaN,False,None,78.0
17260,tr11_0000045012_0000045012-18-000059,79,26,"*By Robb L. Voyles, Attorney-in-fact","by robb l. voyles, attorney in fact",,NaN,NaN,False,None,78.0
17270,tr11_0000045012_0000045012-18-000059,79,27,78,78,,NaN,NaN,True,page_number,78.0

--------------------------------------------------
Document ID: tr12_0000046080_0000046080-24-000034
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr12_0000046080_0000046080-24-000034,0,0,**Table of Contents**,table of contents,,NaN,NaN,True,cover,NaN
20,tr12_0000046080_0000046080-24-000034,0,1,**UNITED STATES SECURITIES AND EXCHANGE COMMIS...,united states securities and exchange commission,,NaN,NaN,True,cover,NaN
30,tr12_0000046080_0000046080-24-000034,0,2,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
40,tr12_0000046080_0000046080-24-000034,0,3,**Form 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
50,tr12_0000046080_0000046080-24-000034,0,4,☒ ANNUAL REPORT PURSUANT TO SECTION 13 OR 15(d),☒ annual report pursuant to section 13 or 15(d),,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
19260,tr12_0000046080_0000046080-24-000034,131,18,"/s/ Tracy A. Leinbach\nDirector February 28, 2...","/s/ tracy a. leinbach director february 28, 20...",,NaN,NaN,False,None,131.0
19270,tr12_0000046080_0000046080-24-000034,131,19,"/s/ Laurel J. Richie\nDirector February 28, 20...","/s/ laurel j. richie director february 28, 202...",,NaN,NaN,False,None,131.0
19280,tr12_0000046080_0000046080-24-000034,131,20,"/s/ Mary Beth West\nDirector February 28, 2024...","/s/ mary beth west director february 28, 2024 ...",,NaN,NaN,False,None,131.0
19290,tr12_0000046080_0000046080-24-000034,131,21,/s/ Linda K. Zecher Higgins\nDirector February...,/s/ linda k. zecher higgins director february ...,,NaN,NaN,False,None,131.0
19300,tr12_0000046080_0000046080-24-000034,131,22,131,131,,NaN,NaN,True,page_number,131.0

--------------------------------------------------
Document ID: tr13_0000049196_0001193125-14-054675
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr13_0000049196_0001193125-14-054675,0,0,10-K 1 d670111d10k.htm ANNUAL REPORT,10 k 1 d670111d10k.htm annual report,,NaN,NaN,True,cover,NaN
20,tr13_0000049196_0001193125-14-054675,0,1,**Table of Contents**,table of contents,,NaN,NaN,True,cover,NaN
30,tr13_0000049196_0001193125-14-054675,0,2,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
40,tr13_0000049196_0001193125-14-054675,0,3,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
50,tr13_0000049196_0001193125-14-054675,0,4,"**WASHINGTON, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
35900,tr13_0000049196_0001193125-14-054675,184,71,10.1,10.1,,NaN,NaN,False,None,NaN
35910,tr13_0000049196_0001193125-14-054675,184,72,10.2,10.2,,NaN,NaN,False,None,NaN
35920,tr13_0000049196_0001193125-14-054675,184,73,12.1 Ratio of Earnings to Fixed Charges.\n12.2...,12.1 ratio of earnings to fixed charges. 12.2 ...,,NaN,NaN,False,None,NaN
35930,tr13_0000049196_0001193125-14-054675,184,74,2013 and Financial Code of Ethics for Chief Ex...,2013 and financial code of ethics for chief ex...,,NaN,NaN,False,None,NaN
35940,tr13_0000049196_0001193125-14-054675,184,75,184,184,,NaN,NaN,False,None,NaN

--------------------------------------------------
Document ID: tr14_0000063754_0000063754-15-000013
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr14_0000063754_0000063754-15-000013,0,0,10-K 1 mkc-11302014x10kxq42014.htm 10-K,10 k 1 mkc 11302014x10kxq42014.htm 10 k,,NaN,NaN,True,cover,NaN
20,tr14_0000063754_0000063754-15-000013,0,1,**(Mark One)**,(mark one),,NaN,NaN,True,cover,NaN
30,tr14_0000063754_0000063754-15-000013,0,2,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
40,tr14_0000063754_0000063754-15-000013,0,3,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
50,tr14_0000063754_0000063754-15-000013,0,4,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
14220,tr14_0000063754_0000063754-15-000013,73,5,(32) Section 1350 Certifications Filed herewith,(32) section 1350 certifications filed herewith,,NaN,NaN,False,None,NaN
14230,tr14_0000063754_0000063754-15-000013,73,6,(101),(101),,NaN,NaN,False,None,NaN
14240,tr14_0000063754_0000063754-15-000013,73,7,The following financial information from the A...,the following financial information from the a...,,NaN,NaN,False,None,NaN
14250,tr14_0000063754_0000063754-15-000013,73,8,- Management contract or compensatory plan or ...,management contract or compensatory plan or ar...,,NaN,NaN,False,None,NaN
14260,tr14_0000063754_0000063754-15-000013,73,9,McCormick hereby undertakes to furnish to the ...,mccormick hereby undertakes to furnish to the ...,,NaN,NaN,False,None,NaN

--------------------------------------------------
Document ID: tr15_0000066740_0001558370-16-003162
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr15_0000066740_0001558370-16-003162,0,0,10-K 1 mmm-20151231x10k.htm 10-K,10 k 1 mmm 20151231x10k.htm 10 k,,NaN,NaN,True,cover,NaN
20,tr15_0000066740_0001558370-16-003162,0,1,Table of Contents,table of contents,,NaN,NaN,True,cover,NaN
30,tr15_0000066740_0001558370-16-003162,0,2,low,low,,NaN,NaN,True,cover,NaN
40,tr15_0000066740_0001558370-16-003162,0,3,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
50,tr15_0000066740_0001558370-16-003162,0,4,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
21640,tr15_0000066740_0001558370-16-003162,123,11,(Principal Executive Officer and Director)\nEr...,(principal executive officer and director) eri...,,NaN,NaN,False,None,124.0
21650,tr15_0000066740_0001558370-16-003162,123,12,(Principal Accounting Officer)\nLinda G. Alvar...,(principal accounting officer) linda g. alvara...,,NaN,NaN,False,None,124.0
21660,tr15_0000066740_0001558370-16-003162,123,13,"Nicholas C. Gangestad, by signing his name her...","nicholas c. gangestad, by signing his name her...",,NaN,NaN,False,None,124.0
21670,tr15_0000066740_0001558370-16-003162,123,14,By /s/ Nicholas C. Gangestad\nNicholas C. Gang...,by /s/ nicholas c. gangestad nicholas c. gange...,,NaN,NaN,False,None,124.0
21680,tr15_0000066740_0001558370-16-003162,123,15,124,124,,NaN,NaN,True,page_number,124.0

--------------------------------------------------
Document ID: tr16_0000070858_0000070858-14-000012
missing: ['item05', 'item07', 'item09']

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr16_0000070858_0000070858-14-000012,0,0,10-K 1 bac-12312013x10k.htm 10-K,10 k 1 bac 12312013x10k.htm 10 k,,NaN,NaN,True,cover,NaN
20,tr16_0000070858_0000070858-14-000012,0,1,**(Mark One)**,(mark one),,NaN,NaN,True,cover,NaN
30,tr16_0000070858_0000070858-14-000012,0,2,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
40,tr16_0000070858_0000070858-14-000012,0,3,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
50,tr16_0000070858_0000070858-14-000012,0,4,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
90700,tr16_0000070858_0000070858-14-000012,292,27,Bank of America 2013 **E-3**,bank of america 2013 e 3,,NaN,NaN,False,None,NaN
90710,tr16_0000070858_0000070858-14-000012,293,0,**Exhibit No.Description**,exhibit no. description,,NaN,NaN,True,header,NaN
90720,tr16_0000070858_0000070858-14-000012,293,1,Exhibit 101.DEF\nXBRL Taxonomy Extension Defin...,exhibit 101.def xbrl taxonomy extension defini...,,NaN,NaN,False,None,NaN
90730,tr16_0000070858_0000070858-14-000012,293,2,- Exhibit is a management contract or a compen...,exhibit is a management contract or a compensa...,,NaN,NaN,False,None,NaN
90740,tr16_0000070858_0000070858-14-000012,293,3,**E-4 Bank of America 2013**,e 4 bank of america 2013,,NaN,NaN,False,None,NaN

--------------------------------------------------
Document ID: tr17_0000072903_0000072903-16-000123
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr17_0000072903_0000072903-16-000123,0,0,10-K 1 xcel1231201510-k.htm 10-K,10 k 1 xcel1231201510 k.htm 10 k,,NaN,NaN,True,cover,1.0
20,tr17_0000072903_0000072903-16-000123,0,1,**(Mark One)**,(mark one),,NaN,NaN,True,cover,1.0
30,tr17_0000072903_0000072903-16-000123,0,2,**UNITED STATES**,united states,,NaN,NaN,True,cover,1.0
40,tr17_0000072903_0000072903-16-000123,0,3,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,1.0
50,tr17_0000072903_0000072903-16-000123,0,4,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,1.0
...,...,...,...,...,...,...,...,...,...,...,...
45970,tr17_0000072903_0000072903-16-000123,173,35,- Director,director,,NaN,NaN,False,None,174.0
45980,tr17_0000072903_0000072903-16-000123,173,36,Timothy V. Wolf,timothy v. wolf,,NaN,NaN,False,None,174.0
45990,tr17_0000072903_0000072903-16-000123,173,37,*By: /s/ TERESA S. MADDEN Attorney-in-Fact,by: /s/ teresa s. madden attorney in fact,,NaN,NaN,False,None,174.0
46000,tr17_0000072903_0000072903-16-000123,173,38,Teresa S. Madden,teresa s. madden,,NaN,NaN,False,None,174.0
46010,tr17_0000072903_0000072903-16-000123,173,39,174,174,,NaN,NaN,True,page_number,174.0

--------------------------------------------------
Document ID: tr18_0000072971_0000072971-22-000096
missing: ['item07a', 'item08']

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr18_0000072971_0000072971-22-000096,0,0,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
20,tr18_0000072971_0000072971-22-000096,0,1,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
30,tr18_0000072971_0000072971-22-000096,0,2,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
40,tr18_0000072971_0000072971-22-000096,0,3,**Form 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
50,tr18_0000072971_0000072971-22-000096,0,4,Annual Report Pursuant to Section 13 or 15(d) ...,annual report pursuant to section 13 or 15(d) ...,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
3340,tr18_0000072971_0000072971-22-000096,17,7,By: /s/ MUNEERA S. CARR\nMuneera S. Carr\nExec...,by: /s/ muneera s. carr muneera s. carr execut...,,NaN,NaN,False,None,17.0
3350,tr18_0000072971_0000072971-22-000096,17,8,The Directors of Wells Fargo & Company listed ...,the directors of wells fargo & company listed ...,,NaN,NaN,False,None,17.0
3360,tr18_0000072971_0000072971-22-000096,17,9,"Steven D. Black Theodore F. Craver, Jr. Richar...","steven d. black theodore f. craver, jr. richar...",,NaN,NaN,False,None,17.0
3370,tr18_0000072971_0000072971-22-000096,17,10,By: /s/ STEVEN D. BLACK\nSteven D. Black\nDire...,by: /s/ steven d. black steven d. black direct...,,NaN,NaN,False,None,17.0
3380,tr18_0000072971_0000072971-22-000096,17,11,17,17,,NaN,NaN,True,page_number,17.0

--------------------------------------------------
Document ID: tr19_0000075362_0001564590-21-006370
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr19_0000075362_0001564590-21-006370,0,0,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
20,tr19_0000075362_0001564590-21-006370,0,1,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
30,tr19_0000075362_0001564590-21-006370,0,2,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
40,tr19_0000075362_0001564590-21-006370,0,3,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
50,tr19_0000075362_0001564590-21-006370,0,4,☒☒☒ Annual Report Pursuant to Section 13 or 15...,☒☒☒ annual report pursuant to section 13 or 15...,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
13520,tr19_0000075362_0001564590-21-006370,82,16,*/s/ M. A. Schulz Director\nM. A. Schulz,/s/ m. a. schulz director m. a. schulz,,NaN,NaN,False,None,83.0
13530,tr19_0000075362_0001564590-21-006370,82,17,*/s/ G. M. E. Spierkel Director\nG. M. E. Spie...,/s/ g. m. e. spierkel director g. m. e. spierkel,,NaN,NaN,False,None,83.0
13540,tr19_0000075362_0001564590-21-006370,82,18,*/s/ C. R. Williamson Director\nC. R. Williamson,/s/ c. r. williamson director c. r. williamson,,NaN,NaN,False,None,83.0
13550,tr19_0000075362_0001564590-21-006370,82,19,*By /s/ M. C. Pigott\nM. C. Pigott\nAttorney-i...,by /s/ m. c. pigott m. c. pigott attorney in fact,,NaN,NaN,False,None,83.0
13560,tr19_0000075362_0001564590-21-006370,82,20,83,83,,NaN,NaN,True,page_number,83.0

--------------------------------------------------
Document ID: tr20_0000076334_0000076334-13-000157
missing: ['item01', 'item01and02', 'item01c', 'item02', 'item03', 'item04', 'item06', 'item07', 'item07a', 'item08', 'item09a', 'item10', 'item11', 'item12', 'item13', 'item14']

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr20_0000076334_0000076334-13-000157,0,0,10-K 1 ph630201310k.htm 10-K,10 k 1 ph630201310k.htm 10 k,,NaN,NaN,True,cover,NaN
20,tr20_0000076334_0000076334-13-000157,0,1,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
30,tr20_0000076334_0000076334-13-000157,0,2,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
40,tr20_0000076334_0000076334-13-000157,0,3,"**Washington, D. C. 20549**","washington, d. c. 20549",,NaN,NaN,True,cover,NaN
50,tr20_0000076334_0000076334-13-000157,0,4,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7640,tr20_0000076334_0000076334-13-000157,26,13,101.PRE XBRL Taxonomy Extension Presentation L...,101.pre xbrl taxonomy extension presentation l...,,NaN,NaN,False,None,26.0
7650,tr20_0000076334_0000076334-13-000157,26,14,- Submitted electronically herewith.,submitted electronically herewith.,,NaN,NaN,False,None,26.0
7660,tr20_0000076334_0000076334-13-000157,26,15,Attached as Exhibit 101 to this report are the...,attached as exhibit 101 to this report are the...,,NaN,NaN,False,None,26.0
7670,tr20_0000076334_0000076334-13-000157,26,16,Shareholders may request a copy of any of the ...,shareholders may request a copy of any of the ...,,NaN,NaN,False,None,26.0
7680,tr20_0000076334_0000076334-13-000157,26,17,- 26,26,,NaN,NaN,True,page_number,26.0

--------------------------------------------------
Document ID: tr21_0000077360_0000077360-15-000007
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr21_0000077360_0000077360-15-000007,0,0,10-K 1 pnr-20141231x10k.htm FORM 10-K,10 k 1 pnr 20141231x10k.htm form 10 k,,NaN,NaN,True,cover,NaN
20,tr21_0000077360_0000077360-15-000007,0,1,**UNITED STATES SECURITIES AND EXCHANGE COMMIS...,united states securities and exchange commission,,NaN,NaN,True,cover,NaN
30,tr21_0000077360_0000077360-15-000007,0,2,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
40,tr21_0000077360_0000077360-15-000007,0,3,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
50,tr21_0000077360_0000077360-15-000007,0,4, **ANNUAL REPORT PURSUANT TO SECTION 13 OR 15..., annual report pursuant to section 13 or 15(d...,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
27850,tr21_0000077360_0000077360-15-000007,110,6,**32.2** Certification of Chief Financial Offi...,"32.2 certification of chief financial officer,...",,NaN,NaN,False,None,109.0
27860,tr21_0000077360_0000077360-15-000007,110,7,**101**,101,,NaN,NaN,False,None,109.0
27870,tr21_0000077360_0000077360-15-000007,110,8,The following materials from Pentair plc’s Ann...,the following materials from pentair plc’s ann...,,NaN,NaN,False,None,109.0
27880,tr21_0000077360_0000077360-15-000007,110,9,- Denotes a management contract or compensator...,denotes a management contract or compensatory ...,,NaN,NaN,False,None,109.0
27890,tr21_0000077360_0000077360-15-000007,110,10,109,109,,NaN,NaN,True,page_number,109.0

--------------------------------------------------
Document ID: tr22_0000080424_0000080424-15-000070
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr22_0000080424_0000080424-15-000070,0,0,10-K 1 fy141510-kreport.htm 10-K,10 k 1 fy141510 kreport.htm 10 k,,NaN,NaN,True,cover,NaN
20,tr22_0000080424_0000080424-15-000070,0,1,**UNITED STATES SECURITIES AND EXCHANGE COMMIS...,united states securities and exchange commission,,NaN,NaN,True,cover,NaN
30,tr22_0000080424_0000080424-15-000070,0,2,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
40,tr22_0000080424_0000080424-15-000070,0,3,**Form 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
50,tr22_0000080424_0000080424-15-000070,0,4,(Mark one),(mark one),,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
19980,tr22_0000080424_0000080424-15-000070,69,21,101.DEF (1) XBRL Taxonomy Definition Linkbase ...,101.def (1) xbrl taxonomy definition linkbase ...,,NaN,NaN,False,None,NaN
19990,tr22_0000080424_0000080424-15-000070,69,22,101.LAB (1) XBRL Taxonomy Extension Label Link...,101.lab (1) xbrl taxonomy extension label link...,,NaN,NaN,False,None,NaN
20000,tr22_0000080424_0000080424-15-000070,69,23,101.PRE (1) XBRL Taxonomy Extension Presentati...,101.pre (1) xbrl taxonomy extension presentati...,,NaN,NaN,False,None,NaN
20010,tr22_0000080424_0000080424-15-000070,69,24,"(1) Pursuant to Rule 406T of Regulation S-T, t...","(1) pursuant to rule 406t of regulation s t, t...",,NaN,NaN,False,None,NaN
20020,tr22_0000080424_0000080424-15-000070,69,25,- Compensatory plan or arrangement,compensatory plan or arrangement,,NaN,NaN,False,None,NaN

--------------------------------------------------
Document ID: tr23_0000084839_0001171200-17-000077
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr23_0000084839_0001171200-17-000077,0,0,10-K 1 i17072_rol-10k.htm,10 k 1 i17072 rol 10k.htm,,NaN,NaN,True,cover,NaN
20,tr23_0000084839_0001171200-17-000077,0,1,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
30,tr23_0000084839_0001171200-17-000077,0,2,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
40,tr23_0000084839_0001171200-17-000077,0,3,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
50,tr23_0000084839_0001171200-17-000077,0,4,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
8980,tr23_0000084839_0001171200-17-000077,60,2,**Exhibit NumberExhibit Description**,exhibit number exhibit description,,NaN,NaN,False,None,61.0
8990,tr23_0000084839_0001171200-17-000077,60,3,(3) (i) (A) Restated Certificate of Incorporat...,(3) (i) (a) restated certificate of incorporat...,,NaN,NaN,False,None,61.0
9000,tr23_0000084839_0001171200-17-000077,60,4,61,61,,NaN,NaN,True,page_number,61.0
9010,tr23_0000084839_0001171200-17-000077,61,0,(21) Subsidiaries of Registrant.\n(23.1) Conse...,(21) subsidiaries of registrant. (23.1) consen...,,NaN,NaN,False,None,62.0
9020,tr23_0000084839_0001171200-17-000077,61,1,62,62,,NaN,NaN,True,page_number,62.0

--------------------------------------------------
Document ID: tr24_0000091142_0001193125-13-080129
Removing toc at page 1
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr24_0000091142_0001193125-13-080129,0,0,10-K 1 d446301d10k.htm FORM 10-K,10 k 1 d446301d10k.htm form 10 k,,NaN,NaN,True,cover,NaN
20,tr24_0000091142_0001193125-13-080129,0,1,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
30,tr24_0000091142_0001193125-13-080129,0,2,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
40,tr24_0000091142_0001193125-13-080129,0,3,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
50,tr24_0000091142_0001193125-13-080129,0,4,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
10860,tr24_0000091142_0001193125-13-080129,66,15,(32.1) Written Statement of the Chief Executiv...,(32.1) written statement of the chief executiv...,,NaN,NaN,False,None,67.0
10870,tr24_0000091142_0001193125-13-080129,66,16,(32.2) Written Statement of the Chief Financia...,(32.2) written statement of the chief financia...,,NaN,NaN,False,None,67.0
10880,tr24_0000091142_0001193125-13-080129,66,17,(101),(101),,NaN,NaN,False,None,67.0
10890,tr24_0000091142_0001193125-13-080129,66,18,The following materials from A. O. Smith Corpo...,the following materials from a. o. smith corpo...,,NaN,NaN,False,None,67.0
10900,tr24_0000091142_0001193125-13-080129,66,19,67,67,,NaN,NaN,True,page_number,67.0

--------------------------------------------------
Document ID: tr25_0000093410_0000093410-13-000003
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr25_0000093410_0000093410-13-000003,0,0,10-K 1 cvx-123112x10kdoc.htm 10-K,10 k 1 cvx 123112x10kdoc.htm 10 k,,NaN,NaN,True,cover,NaN
20,tr25_0000093410_0000093410-13-000003,0,1,Delaware,delaware,,NaN,NaN,True,cover,NaN
30,tr25_0000093410_0000093410-13-000003,0,2,(State or other jurisdiction of\nincorporation...,(state or other jurisdiction of incorporation ...,,NaN,NaN,True,cover,NaN
40,tr25_0000093410_0000093410-13-000003,0,3,(I.R.S. Employer\nIdentification No.),(i.r.s. employer identification no.),,NaN,NaN,True,cover,NaN
50,tr25_0000093410_0000093410-13-000003,0,4,UNITED STATES SECURITIES AND EXCHANGE COMMISSION,united states securities and exchange commission,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
28560,tr25_0000093410_0000093410-13-000003,115,14,101.DEF* XBRL Definition Linkbase Document.,101.def xbrl definition linkbase document.,,NaN,NaN,False,None,2.0
28570,tr25_0000093410_0000093410-13-000003,115,15,Attached as Exhibit 101 to this report are doc...,attached as exhibit 101 to this report are doc...,,NaN,NaN,False,None,2.0
28580,tr25_0000093410_0000093410-13-000003,115,16,- Filed herewith.,filed herewith.,,NaN,NaN,False,None,2.0
28590,tr25_0000093410_0000093410-13-000003,115,17,Copies of above the exhibits not contained her...,copies of above the exhibits not contained her...,,NaN,NaN,False,None,2.0
28600,tr25_0000093410_0000093410-13-000003,115,18,E-2,e 2,,NaN,NaN,True,page_number,2.0

--------------------------------------------------
Document ID: tr26_0000093556_0000093556-16-000051
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr26_0000093556_0000093556-16-000051,0,0,10-K 1 swk_10k2015.htm 10-K 2015,10 k 1 swk 10k2015.htm 10 k 2015,,NaN,NaN,True,cover,NaN
20,tr26_0000093556_0000093556-16-000051,0,1,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
30,tr26_0000093556_0000093556-16-000051,0,2,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
40,tr26_0000093556_0000093556-16-000051,0,3,"**WASHINGTON, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
50,tr26_0000093556_0000093556-16-000051,0,4,**ANNUAL REPORTPURSUANT TO SECTIONS 13 OR 15(d)**,annual report pursuant to sections 13 or 15(d),,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
21100,tr26_0000093556_0000093556-16-000051,105,31,99.1,99.1,,NaN,NaN,False,None,106.0
21110,tr26_0000093556_0000093556-16-000051,105,32,Policy on Confidential Proxy Voting and Indepe...,policy on confidential proxy voting and indepe...,,NaN,NaN,False,None,106.0
21120,tr26_0000093556_0000093556-16-000051,105,33,106,106,,NaN,NaN,True,page_number,106.0
21130,tr26_0000093556_0000093556-16-000051,106,0,- Management contract or compensation plan or ...,management contract or compensation plan or ar...,,NaN,NaN,False,None,107.0
21140,tr26_0000093556_0000093556-16-000051,106,1,107,107,,NaN,NaN,True,page_number,107.0

--------------------------------------------------
Document ID: tr27_0000105770_0000105770-19-000012
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr27_0000105770_0000105770-19-000012,0,0,10-K 1 wst10k12312018.htm 10-K,10 k 1 wst10k12312018.htm 10 k,,NaN,NaN,True,cover,NaN
20,tr27_0000105770_0000105770-19-000012,0,1,**(Mark One)**,(mark one),,NaN,NaN,True,cover,NaN
30,tr27_0000105770_0000105770-19-000012,0,2,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
40,tr27_0000105770_0000105770-19-000012,0,3,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
50,tr27_0000105770_0000105770-19-000012,0,4,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
19330,tr27_0000105770_0000105770-19-000012,90,5,"(1) We agree to furnish to the SEC, upon reque...","(1) we agree to furnish to the sec, upon reque...",,NaN,NaN,False,None,3.0
19340,tr27_0000105770_0000105770-19-000012,90,6,(2) Management compensatory plan.,(2) management compensatory plan.,,NaN,NaN,False,None,3.0
19350,tr27_0000105770_0000105770-19-000012,90,7,(3) Certain portions of this exhibit have been...,(3) certain portions of this exhibit have been...,,NaN,NaN,False,None,3.0
19360,tr27_0000105770_0000105770-19-000012,90,8,"- Furnished, not filed.","furnished, not filed.",,NaN,NaN,False,None,3.0
19370,tr27_0000105770_0000105770-19-000012,90,9,F-3,f 3,,NaN,NaN,True,page_number,3.0

--------------------------------------------------
Document ID: tr28_0000315189_0001047469-17-007719
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr28_0000315189_0001047469-17-007719,0,0,10-K 1 a2233505z10-k.htm 10-K,10 k 1 a2233505z10 k.htm 10 k,,NaN,NaN,True,cover,NaN
20,tr28_0000315189_0001047469-17-007719,0,1,Use these links to rapidly review the document...,use these links to rapidly review the document...,,NaN,NaN,True,cover,NaN
30,tr28_0000315189_0001047469-17-007719,0,2,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
40,tr28_0000315189_0001047469-17-007719,0,3,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
50,tr28_0000315189_0001047469-17-007719,0,4,"**WASHINGTON, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
16910,tr28_0000315189_0001047469-17-007719,73,16,"Other-primarily\ntranslation 6,862\nConsolidat...","other primarily translation 6,862 consolidated...",,NaN,NaN,False,None,73.0
16920,tr28_0000315189_0001047469-17-007719,73,17,"allowances $ 198,444 $ 95,255 $ 42,791 $ 110,2...","allowances $ 198,444 $ 95,255 $ 42,791 $ 110,2...",,NaN,NaN,False,None,73.0
16930,tr28_0000315189_0001047469-17-007719,73,18,"Other-primarily translation 22,672\nConsolidat...","other primarily translation 22,672 consolidate...",,NaN,NaN,False,None,73.0
16940,tr28_0000315189_0001047469-17-007719,73,19,"allowances $ 230,178 $ 52,923 $ 26,333 $ 110,9...","allowances $ 230,178 $ 52,923 $ 26,333 $ 110,9...",,NaN,NaN,False,None,73.0
16950,tr28_0000315189_0001047469-17-007719,73,20,73,73,,NaN,NaN,True,page_number,73.0

--------------------------------------------------
Document ID: tr29_0000320187_0000320187-14-000097
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr29_0000320187_0000320187-14-000097,0,0,10-K 1 nke-5312014x10k.htm 10-K\nTable of Cont...,10 k 1 nke 5312014x10k.htm 10 k table of contents,,NaN,NaN,True,cover,NaN
20,tr29_0000320187_0000320187-14-000097,0,1,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
30,tr29_0000320187_0000320187-14-000097,0,2,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
40,tr29_0000320187_0000320187-14-000097,0,3,"Washington, D.C. 20549","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
50,tr29_0000320187_0000320187-14-000097,0,4,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
21860,tr29_0000320187_0000320187-14-000097,81,16,**DIRECTORS:**,directors:,,NaN,NaN,False,None,80.0
21870,tr29_0000320187_0000320187-14-000097,81,17,/s/ PHILIP H. KNIGHT\n**Philip H. Knight** _Di...,/s/ philip h. knight philip h. knight director...,,NaN,NaN,False,None,80.0
21880,tr29_0000320187_0000320187-14-000097,81,18,/s/ TIMOTHY D. COOK\n**Timothy D. Cook** _Dire...,/s/ timothy d. cook timothy d. cook director j...,,NaN,NaN,False,None,80.0
21890,tr29_0000320187_0000320187-14-000097,81,19,/s/ MICHELLE A. PELUSO\n**Michelle A. Peluso**...,/s/ michelle a. peluso michelle a. peluso dire...,,NaN,NaN,False,None,80.0
21900,tr29_0000320187_0000320187-14-000097,81,20,**80**,80,,NaN,NaN,True,page_number,80.0

--------------------------------------------------
Document ID: tr30_0000320335_0001193125-15-069449
missing: ['item05']

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr30_0000320335_0001193125-15-069449,0,0,10-K 1 d820030d10k.htm 10-K,10 k 1 d820030d10k.htm 10 k,,NaN,NaN,True,cover,NaN
20,tr30_0000320335_0001193125-15-069449,0,1,**Table of Contents**,table of contents,,NaN,NaN,True,cover,NaN
30,tr30_0000320335_0001193125-15-069449,0,2,**Index to Financial Statements**,index to financial statements,,NaN,NaN,True,cover,NaN
40,tr30_0000320335_0001193125-15-069449,0,3,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
50,tr30_0000320335_0001193125-15-069449,0,4,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
25760,tr30_0000320335_0001193125-15-069449,125,30,"Premiums:(2)\nLife insurance $ 1,762,640 $ 7,5...","premiums:(2) life insurance $ 1,762,640 $ 7,59...",,NaN,NaN,False,None,124.0
25770,tr30_0000320335_0001193125-15-069449,125,31,"Total premium $ 2,812,248 $ 9,821 $ 30,725 $ 2...","total premium $ 2,812,248 $ 9,821 $ 30,725 $ 2...",,NaN,NaN,False,None,124.0
25780,tr30_0000320335_0001193125-15-069449,125,32,(1) [No amounts have been netted against ceded...,(1) [no amounts have been netted against ceded...,,NaN,NaN,False,None,124.0
25790,tr30_0000320335_0001193125-15-069449,125,33,See accompanying Report of Independent Registe...,see accompanying report of independent registe...,,NaN,NaN,False,None,124.0
25800,tr30_0000320335_0001193125-15-069449,125,34,124,124,,NaN,NaN,True,page_number,124.0

--------------------------------------------------
Document ID: tr31_0000713676_0000713676-18-000032
missing: ['item10', 'item13']

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr31_0000713676_0000713676-18-000032,0,0,10-K 1 pnc-12312017x10k.htm FORM 10-K,10 k 1 pnc 12312017x10k.htm form 10 k,,NaN,NaN,True,cover,NaN
20,tr31_0000713676_0000713676-18-000032,0,1,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
30,tr31_0000713676_0000713676-18-000032,0,2,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
40,tr31_0000713676_0000713676-18-000032,0,3,"**Washington, DC 20549**","washington, dc 20549",,NaN,NaN,True,cover,NaN
50,tr31_0000713676_0000713676-18-000032,0,4,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
52580,tr31_0000713676_0000713676-18-000032,179,16,- Charles E. Bunch; Debra A. Cafaro; Marjorie ...,charles e. bunch; debra a. cafaro; marjorie ro...,,NaN,NaN,False,None,NaN
52590,tr31_0000713676_0000713676-18-000032,179,17,*By: /s/ Christi Davis,by: /s/ christi davis,,NaN,NaN,False,None,NaN
52600,tr31_0000713676_0000713676-18-000032,179,18,"Christi Davis, Attorney-in-Fact,\npursuant to ...","christi davis, attorney in fact, pursuant to p...",,NaN,NaN,False,None,NaN
52610,tr31_0000713676_0000713676-18-000032,179,19,"**174 The PNC Financial Services Group, Inc. –...","174 the pnc financial services group, inc. – f...",,NaN,NaN,False,None,NaN
52620,tr31_0000713676_0000713676-18-000032,179,20,Directors,directors,,NaN,NaN,False,None,NaN

--------------------------------------------------
Document ID: tr32_0000713676_0000713676-19-000015
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr32_0000713676_0000713676-19-000015,0,0,10-K 1 pnc201810k.htm 10-K,10 k 1 pnc201810k.htm 10 k,,NaN,NaN,True,cover,NaN
20,tr32_0000713676_0000713676-19-000015,0,1,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
30,tr32_0000713676_0000713676-19-000015,0,2,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
40,tr32_0000713676_0000713676-19-000015,0,3,"**Washington, DC 20549**","washington, dc 20549",,NaN,NaN,True,cover,NaN
50,tr32_0000713676_0000713676-19-000015,0,4,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
50880,tr32_0000713676_0000713676-19-000015,182,18,- Joseph Alvarado; Charles E. Bunch; Debra A. ...,joseph alvarado; charles e. bunch; debra a. ca...,,NaN,NaN,False,None,NaN
50890,tr32_0000713676_0000713676-19-000015,182,19,*By: /s/ Alicia Powell,by: /s/ alicia powell,,NaN,NaN,False,None,NaN
50900,tr32_0000713676_0000713676-19-000015,182,20,"Alicia Powell, Attorney-in-Fact,\npursuant to ...","alicia powell, attorney in fact, pursuant to p...",,NaN,NaN,False,None,NaN
50910,tr32_0000713676_0000713676-19-000015,182,21,Directors,directors,,NaN,NaN,False,None,NaN
50920,tr32_0000713676_0000713676-19-000015,182,22,"The PNC Financial Services Group, Inc. – Form ...","the pnc financial services group, inc. – form ...",,NaN,NaN,False,None,NaN

--------------------------------------------------
Document ID: tr33_0000715957_0001193125-14-073496
missing: ['item04']

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr33_0000715957_0001193125-14-073496,0,0,10-K 1 d660169d10k.htm FORM 10-K,10 k 1 d660169d10k.htm form 10 k,,NaN,NaN,True,cover,NaN
20,tr33_0000715957_0001193125-14-073496,0,1,**Table of Contents**,table of contents,,NaN,NaN,True,cover,NaN
30,tr33_0000715957_0001193125-14-073496,0,2,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
40,tr33_0000715957_0001193125-14-073496,0,3,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
50,tr33_0000715957_0001193125-14-073496,0,4,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
42570,tr33_0000715957_0001193125-14-073496,175,66,10.43* Base salaries for named executive offic...,10.43 base salaries for named executive office...,,NaN,NaN,False,None,176.0
42580,tr33_0000715957_0001193125-14-073496,175,67,10.44* Non-employee directors’ annual compensa...,10.44 non employee directors’ annual compensat...,,NaN,NaN,False,None,176.0
42590,tr33_0000715957_0001193125-14-073496,175,68,12.a Ratio of earnings to fixed charges for Do...,12.a ratio of earnings to fixed charges for do...,,NaN,NaN,False,None,176.0
42600,tr33_0000715957_0001193125-14-073496,175,69,12.b Ratio of earnings to fixed charges for Vi...,12.b ratio of earnings to fixed charges for vi...,,NaN,NaN,False,None,176.0
42610,tr33_0000715957_0001193125-14-073496,175,70,**176**,176,,NaN,NaN,True,page_number,176.0

--------------------------------------------------
Document ID: tr34_0000720005_0000720005-23-000079
missing: ['item11', 'item12', 'item13', 'item14']

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr34_0000720005_0000720005-23-000079,0,0,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
20,tr34_0000720005_0000720005-23-000079,0,1,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
30,tr34_0000720005_0000720005-23-000079,0,2,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
40,tr34_0000720005_0000720005-23-000079,0,3,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
50,tr34_0000720005_0000720005-23-000079,0,4,☒ **ANNUAL REPORT PURSUANT TO SECTION 13 OR 15...,☒ annual report pursuant to section 13 or 15(d...,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
28700,tr34_0000720005_0000720005-23-000079,168,17,"/s/ GORDON L. JOHNSON Director November 21, 20...","/s/ gordon l. johnson director november 21, 20...",,NaN,NaN,False,None,169.0
28710,tr34_0000720005_0000720005-23-000079,168,18,"/s/ RAYMOND W. MCDANIEL, JR. Director November...","/s/ raymond w. mcdaniel, jr. director november...",,NaN,NaN,False,None,169.0
28720,tr34_0000720005_0000720005-23-000079,168,19,"/s/ RODERICK C. MCGEARY Director November 21, ...","/s/ roderick c. mcgeary director november 21, ...",,NaN,NaN,False,None,169.0
28730,tr34_0000720005_0000720005-23-000079,168,20,"/s/ RAJ SESHADRI Director November 21, 2023\nR...","/s/ raj seshadri director november 21, 2023 ra...",,NaN,NaN,False,None,169.0
28740,tr34_0000720005_0000720005-23-000079,168,21,169,169,,NaN,NaN,True,page_number,169.0

--------------------------------------------------
Document ID: tr35_0000723531_0000723531-17-000023
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr35_0000723531_0000723531-17-000023,0,0,10-K 1 payx-20170531x10k.htm 10-K,10 k 1 payx 20170531x10k.htm 10 k,,NaN,NaN,True,cover,NaN
20,tr35_0000723531_0000723531-17-000023,0,1,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
30,tr35_0000723531_0000723531-17-000023,0,2,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
40,tr35_0000723531_0000723531-17-000023,0,3,"**WASHINGTON, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
50,tr35_0000723531_0000723531-17-000023,0,4,**FORM10-K**,form 10 k,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
12830,tr35_0000723531_0000723531-17-000023,69,31,- Exhibit filed with this report.,exhibit filed with this report.,,NaN,NaN,False,None,68.0
12840,tr35_0000723531_0000723531-17-000023,69,32,# Management contract or compensatory plan.,management contract or compensatory plan.,,NaN,NaN,False,None,68.0
12850,tr35_0000723531_0000723531-17-000023,69,33,**Item 16._Form 10-K Summary_**,item 16. form 10 k summary,item16,NaN,NaN,False,None,68.0
12860,tr35_0000723531_0000723531-17-000023,69,34,Not Applicable,not applicable,,NaN,NaN,False,None,68.0
12870,tr35_0000723531_0000723531-17-000023,69,35,68,68,,NaN,NaN,True,page_number,68.0

--------------------------------------------------
Document ID: tr36_0000740260_0000740260-24-000067
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr36_0000740260_0000740260-24-000067,0,0,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
20,tr36_0000740260_0000740260-24-000067,0,1,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
30,tr36_0000740260_0000740260-24-000067,0,2,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
40,tr36_0000740260_0000740260-24-000067,0,3,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
50,tr36_0000740260_0000740260-24-000067,0,4,**(Mark One)**,(mark one),,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
23190,tr36_0000740260_0000740260-24-000067,147,10,"/s/ WALTER C. RAKOWICH Director February 15, 2...","/s/ walter c. rakowich director february 15, 2...",,NaN,NaN,False,None,142.0
23200,tr36_0000740260_0000740260-24-000067,147,11,"/s/ SUMIT ROY Director February 15, 2024\nSumi...","/s/ sumit roy director february 15, 2024 sumit...",,NaN,NaN,False,None,142.0
23210,tr36_0000740260_0000740260-24-000067,147,12,"/s/ JAMES D. SHELTON Director February 15, 202...","/s/ james d. shelton director february 15, 202...",,NaN,NaN,False,None,142.0
23220,tr36_0000740260_0000740260-24-000067,147,13,"/s/ MAURICE S. SMITH Director February 15, 202...","/s/ maurice s. smith director february 15, 202...",,NaN,NaN,False,None,142.0
23230,tr36_0000740260_0000740260-24-000067,147,14,142,142,,NaN,NaN,True,page_number,142.0

--------------------------------------------------
Document ID: tr37_0000759944_0000759944-15-000016
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr37_0000759944_0000759944-15-000016,0,0,10-K 1 citizens2014-10k.htm 10-K,10 k 1 citizens2014 10k.htm 10 k,,NaN,NaN,True,cover,NaN
20,tr37_0000759944_0000759944-15-000016,0,1,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
30,tr37_0000759944_0000759944-15-000016,0,2,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
40,tr37_0000759944_0000759944-15-000016,0,3,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
50,tr37_0000759944_0000759944-15-000016,0,4,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
62380,tr37_0000759944_0000759944-15-000016,238,23,*By: /s/ Ronald S. Ohsberg,by: /s/ ronald s. ohsberg,,NaN,NaN,False,None,238.0
62390,tr37_0000759944_0000759944-15-000016,238,24,Ronald S. Ohsberg,ronald s. ohsberg,,NaN,NaN,False,None,238.0
62400,tr37_0000759944_0000759944-15-000016,238,25,Attorney-in-fact,attorney in fact,,NaN,NaN,False,None,238.0
62410,tr37_0000759944_0000759944-15-000016,238,26,"March 2, 2015","march 2, 2015",,NaN,NaN,False,None,238.0
62420,tr37_0000759944_0000759944-15-000016,238,27,238,238,,NaN,NaN,True,page_number,238.0

--------------------------------------------------
Document ID: tr38_0000764180_0000764180-19-000023
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr38_0000764180_0000764180-19-000023,0,0,10-K 1 a2018form10-kq4.htm FORM 10-K,10 k 1 a2018form10 kq4.htm form 10 k,,NaN,NaN,True,cover,NaN
20,tr38_0000764180_0000764180-19-000023,0,1,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
30,tr38_0000764180_0000764180-19-000023,0,2,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
40,tr38_0000764180_0000764180-19-000023,0,3,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
50,tr38_0000764180_0000764180-19-000023,0,4,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
32150,tr38_0000764180_0000764180-19-000023,106,18,Directors,directors,,NaN,NaN,False,None,105.0
32160,tr38_0000764180_0000764180-19-000023,106,19,- By:,by:,,NaN,NaN,False,None,105.0
32170,tr38_0000764180_0000764180-19-000023,106,20,/s/ HOWARD A. WILLARD III\n(HOWARD A. WILLARD ...,/s/ howard a. willard iii (howard a. willard i...,,NaN,NaN,False,None,105.0
32180,tr38_0000764180_0000764180-19-000023,106,21,"February 26, 2019","february 26, 2019",,NaN,NaN,False,None,105.0
32190,tr38_0000764180_0000764180-19-000023,106,22,105,105,,NaN,NaN,True,page_number,105.0

--------------------------------------------------
Document ID: tr39_0000765880_0001628280-19-001407
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr39_0000765880_0001628280-19-001407,0,0,10-K 1 hcp10-k12312018.htm 10-K,10 k 1 hcp10 k12312018.htm 10 k,,NaN,NaN,True,cover,NaN
20,tr39_0000765880_0001628280-19-001407,0,1,Table of Contents,table of contents,,NaN,NaN,True,cover,NaN
30,tr39_0000765880_0001628280-19-001407,0,2,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
40,tr39_0000765880_0001628280-19-001407,0,3,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
50,tr39_0000765880_0001628280-19-001407,0,4,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
39950,tr39_0000765880_0001628280-19-001407,146,20,/s/ KATHERINE M. SANDSTROM Director February 1...,/s/ katherine m. sandstrom director february 1...,,NaN,NaN,False,None,139.0
39960,tr39_0000765880_0001628280-19-001407,146,21,Katherine M. Sandstrom,katherine m. sandstrom,,NaN,NaN,False,None,139.0
39970,tr39_0000765880_0001628280-19-001407,146,22,"/s/ JOSEPH P. SULLIVAN Director February 14, 2019","/s/ joseph p. sullivan director february 14, 2019",,NaN,NaN,False,None,139.0
39980,tr39_0000765880_0001628280-19-001407,146,23,Joseph P. Sullivan,joseph p. sullivan,,NaN,NaN,False,None,139.0
39990,tr39_0000765880_0001628280-19-001407,146,24,139,139,,NaN,NaN,True,page_number,139.0

--------------------------------------------------
Document ID: tr40_0000769397_0000769397-15-000012
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr40_0000769397_0000769397-15-000012,0,0,10-K 1 adsk-0131201510xk.htm 10-K\nTable of Co...,10 k 1 adsk 0131201510xk.htm 10 k table of con...,,NaN,NaN,True,cover,NaN
20,tr40_0000769397_0000769397-15-000012,0,1,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
30,tr40_0000769397_0000769397-15-000012,0,2,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
40,tr40_0000769397_0000769397-15-000012,0,3,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
50,tr40_0000769397_0000769397-15-000012,0,4,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
23580,tr40_0000769397_0000769397-15-000012,110,28,101.DEF †† XBRL Taxonomy Extension Definition ...,101.def †† xbrl taxonomy extension definition ...,,NaN,NaN,False,None,NaN
23590,tr40_0000769397_0000769397-15-000012,110,29,101.LAB †† XBRL Taxonomy Extension Label Linkbase,101.lab †† xbrl taxonomy extension label linkbase,,NaN,NaN,False,None,NaN
23600,tr40_0000769397_0000769397-15-000012,110,30,101.PRE †† XBRL Taxonomy Extension Presentatio...,101.pre †† xbrl taxonomy extension presentatio...,,NaN,NaN,False,None,NaN
23610,tr40_0000769397_0000769397-15-000012,110,31,- Denotes a management contract or compensator...,denotes a management contract or compensatory ...,,NaN,NaN,False,None,NaN
23620,tr40_0000769397_0000769397-15-000012,110,32,_2015 Form 10-K 111_,2015 form 10 k 111,,NaN,NaN,False,None,NaN

--------------------------------------------------
Document ID: tr41_0000804328_0001234452-16-000552
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr41_0000804328_0001234452-16-000552,0,0,10-K 1 qcom10-k2016.htm 10-K,10 k 1 qcom10 k2016.htm 10 k,,NaN,NaN,True,cover,1.0
20,tr41_0000804328_0001234452-16-000552,0,1,(Mark one),(mark one),,NaN,NaN,True,cover,1.0
30,tr41_0000804328_0001234452-16-000552,0,2,**UNITED STATES**,united states,,NaN,NaN,True,cover,1.0
40,tr41_0000804328_0001234452-16-000552,0,3,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,1.0
50,tr41_0000804328_0001234452-16-000552,0,4,"**WASHINGTON, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,1.0
...,...,...,...,...,...,...,...,...,...,...,...
20460,tr41_0000804328_0001234452-16-000552,94,29,Valuation allowance on deferred tax assets 265...,valuation allowance on deferred tax assets 265...,,NaN,NaN,False,None,NaN
20470,tr41_0000804328_0001234452-16-000552,94,30,$ 277 $ 150 $ (3) $ (1) $ 423,$ 277 $ 150 $ (3) $ (1) $ 423,,NaN,NaN,False,None,NaN
20480,tr41_0000804328_0001234452-16-000552,94,31,(a) This amount was recorded to goodwill in co...,(a) this amount was recorded to goodwill in co...,,NaN,NaN,False,None,NaN
20490,tr41_0000804328_0001234452-16-000552,94,32,(b) This amount relates to notes receivable on...,(b) this amount relates to notes receivable on...,,NaN,NaN,False,None,NaN
20500,tr41_0000804328_0001234452-16-000552,94,33,S-1,s 1,,NaN,NaN,False,None,NaN

--------------------------------------------------
Document ID: tr42_0000813828_0001047469-13-001192
missing: ['item07']

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr42_0000813828_0001047469-13-001192,0,0,10-K 1 a2212776z10-k.htm 10-K,10 k 1 a2212776z10 k.htm 10 k,,NaN,NaN,True,cover,NaN
20,tr42_0000813828_0001047469-13-001192,0,1,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
30,tr42_0000813828_0001047469-13-001192,0,2,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
40,tr42_0000813828_0001047469-13-001192,0,3,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
50,tr42_0000813828_0001047469-13-001192,0,4,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
27070,tr42_0000813828_0001047469-13-001192,146,26,**Reserves for inventory**,reserves for inventory,,NaN,NaN,False,None,NaN
27080,tr42_0000813828_0001047469-13-001192,146,27,**obsolescence:**,obsolescence:,,NaN,NaN,False,None,NaN
27090,tr42_0000813828_0001047469-13-001192,146,28,"Year ended December 31, 2012 $ 27 $ — $ 13 $ —...","year ended december 31, 2012 $ 27 $ — $ 13 $ —...",,NaN,NaN,False,None,NaN
27100,tr42_0000813828_0001047469-13-001192,146,29,(a) Primarily reflects reclasses from other ba...,(a) primarily reflects reclasses from other ba...,,NaN,NaN,False,None,NaN
27110,tr42_0000813828_0001047469-13-001192,146,30,F-1,f 1,,NaN,NaN,False,None,NaN

--------------------------------------------------
Document ID: tr43_0000821189_0000821189-17-000017
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr43_0000821189_0000821189-17-000017,0,0,10-K 1 a2016123110-k.htm 10-K,10 k 1 a2016123110 k.htm 10 k,,NaN,NaN,True,cover,NaN
20,tr43_0000821189_0000821189-17-000017,0,1,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
30,tr43_0000821189_0000821189-17-000017,0,2,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
40,tr43_0000821189_0000821189-17-000017,0,3,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
50,tr43_0000821189_0000821189-17-000017,0,4,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
24450,tr43_0000821189_0000821189-17-000017,108,20,- **101.LAB - XBRL Label Linkbase Document.,101.lab xbrl label linkbase document.,,NaN,NaN,False,None,NaN
24460,tr43_0000821189_0000821189-17-000017,108,21,- **101.PRE - XBRL Presentation Linkbase Docum...,101.pre xbrl presentation linkbase document.,,NaN,NaN,False,None,NaN
24470,tr43_0000821189_0000821189-17-000017,108,22,- **101.DEF - XBRL Definition Linkbase Document.,101.def xbrl definition linkbase document.,,NaN,NaN,False,None,NaN
24480,tr43_0000821189_0000821189-17-000017,108,23,*Exhibits filed herewith,exhibits filed herewith,,NaN,NaN,False,None,NaN
24490,tr43_0000821189_0000821189-17-000017,108,24,**Attached as Exhibit 101 to this report are t...,attached as exhibit 101 to this report are the...,,NaN,NaN,False,None,NaN

--------------------------------------------------
Document ID: tr44_0000827054_0000827054-20-000119
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr44_0000827054_0000827054-20-000119,0,0,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
20,tr44_0000827054_0000827054-20-000119,0,1,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
30,tr44_0000827054_0000827054-20-000119,0,2,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
40,tr44_0000827054_0000827054-20-000119,0,3,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
50,tr44_0000827054_0000827054-20-000119,0,4,(Mark One),(mark one),,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
24290,tr44_0000827054_0000827054-20-000119,120,0,**Table of Contents**,table of contents,,NaN,NaN,True,header,54.0
24300,tr44_0000827054_0000827054-20-000119,120,1,"first and fourth quarters of fiscal 2020, resp...","first and fourth quarters of fiscal 2020, resp...",,NaN,NaN,False,None,54.0
24310,tr44_0000827054_0000827054-20-000119,120,2,**Note 19. Dividends**,note 19. dividends,,NaN,NaN,False,None,54.0
24320,tr44_0000827054_0000827054-20-000119,120,3,"On October 28, 2002, the Company announced tha...","on october 28, 2002, the company announced tha...",,NaN,NaN,False,None,54.0
24330,tr44_0000827054_0000827054-20-000119,120,4,F-54,f 54,,NaN,NaN,True,page_number,54.0

--------------------------------------------------
Document ID: tr45_0000829224_0000829224-18-000052
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr45_0000829224_0000829224-18-000052,0,0,10-K 1 sbux-9302018x10xk.htm 10-K\nTable of Co...,10 k 1 sbux 9302018x10xk.htm 10 k table of con...,,NaN,NaN,True,cover,NaN
20,tr45_0000829224_0000829224-18-000052,0,1,**UNITED STATES SECURITIES AND EXCHANGE COMMIS...,united states securities and exchange commission,,NaN,NaN,True,cover,NaN
30,tr45_0000829224_0000829224-18-000052,0,2,"**Washington, DC 20549**","washington, dc 20549",,NaN,NaN,True,cover,NaN
40,tr45_0000829224_0000829224-18-000052,0,3,**Form 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
50,tr45_0000829224_0000829224-18-000052,0,4, ANNUAL REPORT PURSUANT TO SECTION 13 OR 15(d..., annual report pursuant to section 13 or 15(d...,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
26700,tr45_0000829224_0000829224-18-000052,104,8,By: /s/ Javier G. Teruel director,by: /s/ javier g. teruel director,,NaN,NaN,False,None,102.0
26710,tr45_0000829224_0000829224-18-000052,104,9,Javier G. Teruel,javier g. teruel,,NaN,NaN,False,None,102.0
26720,tr45_0000829224_0000829224-18-000052,104,10,"By: /s/ Myron E. Ullman, III director","by: /s/ myron e. ullman, iii director",,NaN,NaN,False,None,102.0
26730,tr45_0000829224_0000829224-18-000052,104,11,"Myron E. Ullman, III","myron e. ullman, iii",,NaN,NaN,False,None,102.0
26740,tr45_0000829224_0000829224-18-000052,104,12,102,102,,NaN,NaN,True,page_number,102.0

--------------------------------------------------
Document ID: tr46_0000829224_0000829224-21-000086
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr46_0000829224_0000829224-21-000086,0,0,Table of Contents,table of contents,,NaN,NaN,True,cover,NaN
20,tr46_0000829224_0000829224-21-000086,0,1,**UNITED STATES SECURITIES AND EXCHANGE COMMIS...,united states securities and exchange commission,,NaN,NaN,True,cover,NaN
30,tr46_0000829224_0000829224-21-000086,0,2,"**Washington, DC 20549**","washington, dc 20549",,NaN,NaN,True,cover,NaN
40,tr46_0000829224_0000829224-21-000086,0,3,**Form 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
50,tr46_0000829224_0000829224-21-000086,0,4,☒ **ANNUAL REPORT PURSUANT TO SECTION 13 OR 15...,☒ annual report pursuant to section 13 or 15(d...,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
16230,tr46_0000829224_0000829224-21-000086,96,1,By: /s/ Satya Nadella director\nSatya Nadella,by: /s/ satya nadella director satya nadella,,NaN,NaN,False,None,94.0
16240,tr46_0000829224_0000829224-21-000086,96,2,By: /s/ Joshua Cooper Ramo director\nJoshua Co...,by: /s/ joshua cooper ramo director joshua coo...,,NaN,NaN,False,None,94.0
16250,tr46_0000829224_0000829224-21-000086,96,3,By: /s/ Clara Shih director\nClara Shih,by: /s/ clara shih director clara shih,,NaN,NaN,False,None,94.0
16260,tr46_0000829224_0000829224-21-000086,96,4,By: /s/ Javier G. Teruel director\nJavier G. T...,by: /s/ javier g. teruel director javier g. te...,,NaN,NaN,False,None,94.0
16270,tr46_0000829224_0000829224-21-000086,96,5,94,94,,NaN,NaN,True,page_number,94.0

--------------------------------------------------
Document ID: tr47_0000833444_0000833444-19-000051
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr47_0000833444_0000833444-19-000051,0,0,**UNITED STATES SECURITIES AND EXCHANGE COMMIS...,united states securities and exchange commission,,NaN,NaN,True,cover,1.0
20,tr47_0000833444_0000833444-19-000051,0,1,"**WASHINGTON, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,1.0
30,tr47_0000833444_0000833444-19-000051,0,2,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,1.0
40,tr47_0000833444_0000833444-19-000051,0,3,**ANNUAL REPORT PURSUANT TO SECTION 13 OR 15(d...,annual report pursuant to section 13 or 15(d) ...,,NaN,NaN,True,cover,1.0
50,tr47_0000833444_0000833444-19-000051,0,4,"**For the Fiscal Year Ended September 30, 2019**","for the fiscal year ended september 30, 2019",,NaN,NaN,True,cover,1.0
...,...,...,...,...,...,...,...,...,...,...,...
26160,tr47_0000833444_0000833444-19-000051,126,23,Certification by the Chief Executive Officer a...,certification by the chief executive officer a...,,NaN,NaN,False,None,127.0
26170,tr47_0000833444_0000833444-19-000051,126,24,Financial statements from the Annual Report on...,financial statements from the annual report on...,,NaN,NaN,False,None,127.0
26180,tr47_0000833444_0000833444-19-000051,126,25,These instruments are not being filed as exhib...,these instruments are not being filed as exhib...,,NaN,NaN,False,None,127.0
26190,tr47_0000833444_0000833444-19-000051,126,26,** Management contract or compensatory plan.,management contract or compensatory plan.,,NaN,NaN,False,None,127.0
26200,tr47_0000833444_0000833444-19-000051,126,27,127,127,,NaN,NaN,True,page_number,127.0

--------------------------------------------------
Document ID: tr48_0000842023_0001193125-13-351961
missing: ['item05', 'item07', 'item09', 'item12']

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr48_0000842023_0001193125-13-351961,0,0,10-K 1 d545574d10k.htm FORM 10-K,10 k 1 d545574d10k.htm form 10 k,,NaN,NaN,True,cover,NaN
20,tr48_0000842023_0001193125-13-351961,0,1,**Table of Contents**,table of contents,,NaN,NaN,True,cover,NaN
30,tr48_0000842023_0001193125-13-351961,0,2,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
40,tr48_0000842023_0001193125-13-351961,0,3,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
50,tr48_0000842023_0001193125-13-351961,0,4,"**Washington, DC 20549**","washington, dc 20549",,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
9570,tr48_0000842023_0001193125-13-351961,52,22,10.25** Description of Non-employee Director C...,10.25 description of non employee director com...,,NaN,NaN,False,None,51.0
9580,tr48_0000842023_0001193125-13-351961,52,23,10.26** Employment Agreement by and between th...,10.26 employment agreement by and between the ...,,NaN,NaN,False,None,51.0
9590,tr48_0000842023_0001193125-13-351961,52,24,10.27** Employment Agreement by and between th...,10.27 employment agreement by and between the ...,,NaN,NaN,False,None,51.0
9600,tr48_0000842023_0001193125-13-351961,52,25,10.28** Compensation Arrangement for the Execu...,10.28 compensation arrangement for the executi...,,NaN,NaN,False,None,51.0
9610,tr48_0000842023_0001193125-13-351961,52,26,51,51,,NaN,NaN,True,page_number,51.0

--------------------------------------------------
Document ID: tr49_0000858877_0000858877-16-000117
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr49_0000858877_0000858877-16-000117,0,0,10-K 1 csco-2016730x10k.htm 10-K\nTable of Con...,10 k 1 csco 2016730x10k.htm 10 k table of cont...,,NaN,NaN,True,cover,NaN
20,tr49_0000858877_0000858877-16-000117,0,1,**(Mark one)**,(mark one),,NaN,NaN,True,cover,NaN
30,tr49_0000858877_0000858877-16-000117,0,2,**UNITED STATES SECURITIES AND EXCHANGE COMMIS...,united states securities and exchange commission,,NaN,NaN,True,cover,NaN
40,tr49_0000858877_0000858877-16-000117,0,3,"**WASHINGTON, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
50,tr49_0000858877_0000858877-16-000117,0,4,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
30120,tr49_0000858877_0000858877-16-000117,126,29,101.DEF XBRL Taxonomy Extension Definition Lin...,101.def xbrl taxonomy extension definition lin...,,NaN,NaN,False,None,125.0
30130,tr49_0000858877_0000858877-16-000117,126,30,101.LAB XBRL Taxonomy Extension Label Linkbase...,101.lab xbrl taxonomy extension label linkbase...,,NaN,NaN,False,None,125.0
30140,tr49_0000858877_0000858877-16-000117,126,31,101.PRE XBRL Taxonomy Extension Presentation L...,101.pre xbrl taxonomy extension presentation l...,,NaN,NaN,False,None,125.0
30150,tr49_0000858877_0000858877-16-000117,126,32,- Indicates a management contract or compensat...,indicates a management contract or compensator...,,NaN,NaN,False,None,125.0
30160,tr49_0000858877_0000858877-16-000117,126,33,125,125,,NaN,NaN,True,page_number,125.0

--------------------------------------------------
Document ID: tr50_0000858877_0000858877-21-000013
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr50_0000858877_0000858877-21-000013,0,0,Table of Contents,table of contents,,NaN,NaN,True,cover,NaN
20,tr50_0000858877_0000858877-21-000013,0,1,**UNITED STATES SECURITIES AND EXCHANGE COMMIS...,united states securities and exchange commission,,NaN,NaN,True,cover,NaN
30,tr50_0000858877_0000858877-21-000013,0,2,"**WASHINGTON, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
40,tr50_0000858877_0000858877-21-000013,0,3,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
50,tr50_0000858877_0000858877-21-000013,0,4,**(Mark One)**,(mark one),,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
17070,tr50_0000858877_0000858877-21-000013,107,18,"/S/ LISA T. SU Director September 9, 2021","/s/ lisa t. su director september 9, 2021",,NaN,NaN,False,None,106.0
17080,tr50_0000858877_0000858877-21-000013,107,19,**Dr. Lisa T. Su**,dr. lisa t. su,,NaN,NaN,False,None,106.0
17090,tr50_0000858877_0000858877-21-000013,107,20,"/S/ MARIANNA TESSEL Director September 9, 2021","/s/ marianna tessel director september 9, 2021",,NaN,NaN,False,None,106.0
17100,tr50_0000858877_0000858877-21-000013,107,21,**Marianna Tessel**,marianna tessel,,NaN,NaN,False,None,106.0
17110,tr50_0000858877_0000858877-21-000013,107,22,106,106,,NaN,NaN,True,page_number,106.0

--------------------------------------------------
Document ID: tr51_0000858877_0000858877-22-000013
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr51_0000858877_0000858877-22-000013,0,0,Table of Contents,table of contents,,NaN,NaN,True,cover,NaN
20,tr51_0000858877_0000858877-22-000013,0,1,**UNITED STATES SECURITIES AND EXCHANGE COMMIS...,united states securities and exchange commission,,NaN,NaN,True,cover,NaN
30,tr51_0000858877_0000858877-22-000013,0,2,"**WASHINGTON, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
40,tr51_0000858877_0000858877-22-000013,0,3,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
50,tr51_0000858877_0000858877-22-000013,0,4,**(Mark One)**,(mark one),,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
16750,tr51_0000858877_0000858877-22-000013,109,19,"/S/ LISA T. SU Director September 8, 2022","/s/ lisa t. su director september 8, 2022",,NaN,NaN,False,None,108.0
16760,tr51_0000858877_0000858877-22-000013,109,20,**Dr. Lisa T. Su**,dr. lisa t. su,,NaN,NaN,False,None,108.0
16770,tr51_0000858877_0000858877-22-000013,109,21,"/S/ MARIANNA TESSEL Director September 8, 2022","/s/ marianna tessel director september 8, 2022",,NaN,NaN,False,None,108.0
16780,tr51_0000858877_0000858877-22-000013,109,22,**Marianna Tessel**,marianna tessel,,NaN,NaN,False,None,108.0
16790,tr51_0000858877_0000858877-22-000013,109,23,108,108,,NaN,NaN,True,page_number,108.0

--------------------------------------------------
Document ID: tr52_0000860730_0001193125-13-077574
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr52_0000860730_0001193125-13-077574,0,0,10-K 1 d453828d10k.htm FORM 10-K,10 k 1 d453828d10k.htm form 10 k,,NaN,NaN,True,cover,NaN
20,tr52_0000860730_0001193125-13-077574,0,1,**Table of Contents**,table of contents,,NaN,NaN,True,cover,NaN
30,tr52_0000860730_0001193125-13-077574,0,2,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
40,tr52_0000860730_0001193125-13-077574,0,3,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
50,tr52_0000860730_0001193125-13-077574,0,4,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
23900,tr52_0000860730_0001193125-13-077574,152,6,**201220112010**,2012 2011 2010,,NaN,NaN,False,None,49.0
23910,tr52_0000860730_0001193125-13-077574,152,7,"Presentation in HCA Holdings, Inc. Consolidate...","presentation in hca holdings, inc. consolidate...",,NaN,NaN,False,None,49.0
23920,tr52_0000860730_0001193125-13-077574,152,8,"Presentation in Healthtrust, Inc. — The Hospit...","presentation in healthtrust, inc. — the hospit...",,NaN,NaN,False,None,49.0
23930,tr52_0000860730_0001193125-13-077574,152,9,Due to the consolidated financial statements o...,due to the consolidated financial statements o...,,NaN,NaN,False,None,49.0
23940,tr52_0000860730_0001193125-13-077574,152,10,F-49,f 49,,NaN,NaN,True,page_number,49.0

--------------------------------------------------
Document ID: tr53_0000874716_0000874716-18-000005
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr53_0000874716_0000874716-18-000005,0,0,10-K 1 idxx-20171231x10k.htm 10-K,10 k 1 idxx 20171231x10k.htm 10 k,,NaN,NaN,True,cover,NaN
20,tr53_0000874716_0000874716-18-000005,0,1,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
30,tr53_0000874716_0000874716-18-000005,0,2,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
40,tr53_0000874716_0000874716-18-000005,0,3,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
50,tr53_0000874716_0000874716-18-000005,0,4,**Form 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
17620,tr53_0000874716_0000874716-18-000005,138,0,[32.2](https://www.sec.gov/Archives/edgar/data...,[32.2](https://www.sec.gov/archives/edgar/data...,,NaN,NaN,False,None,53.0
17630,tr53_0000874716_0000874716-18-000005,138,1,F-53,f 53,,NaN,NaN,True,page_number,53.0
17640,tr53_0000874716_0000874716-18-000005,139,0,101 eXtensible Business Reporting Language (XB...,101 extensible business reporting language (xb...,,NaN,NaN,False,None,54.0
17650,tr53_0000874716_0000874716-18-000005,139,1,** Management contract or compensatory arrange...,management contract or compensatory arrangemen...,,NaN,NaN,False,None,54.0
17660,tr53_0000874716_0000874716-18-000005,139,2,F-54,f 54,,NaN,NaN,True,page_number,54.0

--------------------------------------------------
Document ID: tr54_0000875045_0000875045-15-000005
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr54_0000875045_0000875045-15-000005,0,0,10-K 1 biib-20141231x10k.htm 10-K\nTable of Co...,10 k 1 biib 20141231x10k.htm 10 k table of con...,,NaN,NaN,True,cover,NaN
20,tr54_0000875045_0000875045-15-000005,0,1,**UNITED STATES SECURITIES AND EXCHANGE COMMIS...,united states securities and exchange commission,,NaN,NaN,True,cover,NaN
30,tr54_0000875045_0000875045-15-000005,0,2,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
40,tr54_0000875045_0000875045-15-000005,0,3,**Form 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
50,tr54_0000875045_0000875045-15-000005,0,4, **ANNUAL REPORT PURSUANT TO SECTION 13 OR 15..., annual report pursuant to section 13 or 15(d...,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
30800,tr54_0000875045_0000875045-15-000005,139,14,- Management contract or compensatory plan or ...,management contract or compensatory plan or ar...,,NaN,NaN,False,None,3.0
30810,tr54_0000875045_0000875045-15-000005,139,15,† Confidential treatment has been granted or r...,† confidential treatment has been granted or r...,,NaN,NaN,False,None,3.0
30820,tr54_0000875045_0000875045-15-000005,139,16,+ Filed herewith.,+ filed herewith.,,NaN,NaN,False,None,3.0
30830,tr54_0000875045_0000875045-15-000005,139,17,+ + Furnished herewith.,+ + furnished herewith.,,NaN,NaN,False,None,3.0
30840,tr54_0000875045_0000875045-15-000005,139,18,A- 3,a 3,,NaN,NaN,True,page_number,3.0

--------------------------------------------------
Document ID: tr55_0000877212_0000877212-17-000009
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr55_0000877212_0000877212-17-000009,0,0,10-K 1 a10k12312016zebra.htm 10-K\nTable of Co...,10 k 1 a10k12312016zebra.htm 10 k table of con...,,NaN,NaN,True,cover,NaN
20,tr55_0000877212_0000877212-17-000009,0,1,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
30,tr55_0000877212_0000877212-17-000009,0,2,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
40,tr55_0000877212_0000877212-17-000009,0,3,"**Washington, D. C. 20549**","washington, d. c. 20549",,NaN,NaN,True,cover,NaN
50,tr55_0000877212_0000877212-17-000009,0,4,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
20410,tr55_0000877212_0000877212-17-000009,82,25,(26) Incorporated by reference from Annual Rep...,(26) incorporated by reference from annual rep...,,NaN,NaN,False,None,39.0
20420,tr55_0000877212_0000877212-17-000009,82,26,(27) Incorporated by reference from Quarterly ...,(27) incorporated by reference from quarterly ...,,NaN,NaN,False,None,39.0
20430,tr55_0000877212_0000877212-17-000009,82,27,+ Management contract or compensatory plan or ...,+ management contract or compensatory plan or ...,,NaN,NaN,False,None,39.0
20440,tr55_0000877212_0000877212-17-000009,82,28,- Included with this Annual Report on this For...,included with this annual report on this form ...,,NaN,NaN,False,None,39.0
20450,tr55_0000877212_0000877212-17-000009,82,29,F-39,f 39,,NaN,NaN,True,page_number,39.0

--------------------------------------------------
Document ID: tr56_0000877212_0000877212-19-000011
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr56_0000877212_0000877212-19-000011,0,0,10-K 1 a10k12312018zebra.htm 10-K\nTable of Co...,10 k 1 a10k12312018zebra.htm 10 k table of con...,,NaN,NaN,True,cover,NaN
20,tr56_0000877212_0000877212-19-000011,0,1,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
30,tr56_0000877212_0000877212-19-000011,0,2,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
40,tr56_0000877212_0000877212-19-000011,0,3,"**Washington, D. C. 20549**","washington, d. c. 20549",,NaN,NaN,True,cover,NaN
50,tr56_0000877212_0000877212-19-000011,0,4,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
19770,tr56_0000877212_0000877212-19-000011,79,20,"Year ended December 31, 2018 $ 134 $ — $ 78 $ 56","year ended december 31, 2018 $ 134 $ — $ 78 $ 56",,NaN,NaN,False,None,NaN
19780,tr56_0000877212_0000877212-19-000011,79,21,"Year ended December 31, 2017 47 91 4 134","year ended december 31, 2017 47 91 4 134",,NaN,NaN,False,None,NaN
19790,tr56_0000877212_0000877212-19-000011,79,22,"Year ended December 31, 2016 48 18 19 47","year ended december 31, 2016 48 18 19 47",,NaN,NaN,False,None,NaN
19800,tr56_0000877212_0000877212-19-000011,79,23,See accompanying report of independent registe...,see accompanying report of independent registe...,,NaN,NaN,False,None,NaN
19810,tr56_0000877212_0000877212-19-000011,79,24,80,80,,NaN,NaN,False,None,NaN

--------------------------------------------------
Document ID: tr57_0000882095_0000882095-21-000008
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr57_0000882095_0000882095-21-000008,0,0,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
20,tr57_0000882095_0000882095-21-000008,0,1,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
30,tr57_0000882095_0000882095-21-000008,0,2,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
40,tr57_0000882095_0000882095-21-000008,0,3,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
50,tr57_0000882095_0000882095-21-000008,0,4,**(Mark One)**,(mark one),,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
18110,tr57_0000882095_0000882095-21-000008,112,10,"/s/ JAVIER J. RODRIGUEZ Director February 25, ...","/s/ javier j. rodriguez director february 25, ...",,NaN,NaN,False,None,112.0
18120,tr57_0000882095_0000882095-21-000008,112,11,"/s/ ANTHONY WELTERS Director February 25, 2021...","/s/ anthony welters director february 25, 2021...",,NaN,NaN,False,None,112.0
18130,tr57_0000882095_0000882095-21-000008,112,12,"/s/ RICHARD J. WHITLEY Director February 25, 2...","/s/ richard j. whitley director february 25, 2...",,NaN,NaN,False,None,112.0
18140,tr57_0000882095_0000882095-21-000008,112,13,"/s/ PER WOLD-OLSEN Director February 25, 2021\...","/s/ per wold olsen director february 25, 2021 ...",,NaN,NaN,False,None,112.0
18150,tr57_0000882095_0000882095-21-000008,112,14,112,112,,NaN,NaN,True,page_number,112.0

--------------------------------------------------
Document ID: tr58_0000882184_0000882184-20-000143
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr58_0000882184_0000882184-20-000143,0,0,Table of Contents,table of contents,,NaN,NaN,True,cover,NaN
20,tr58_0000882184_0000882184-20-000143,0,1,(Mark One),(mark one),,NaN,NaN,True,cover,NaN
30,tr58_0000882184_0000882184-20-000143,0,2,**UNITED STATES SECURITIES AND EXCHANGE COMMIS...,united states securities and exchange commission,,NaN,NaN,True,cover,NaN
40,tr58_0000882184_0000882184-20-000143,0,3,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
50,tr58_0000882184_0000882184-20-000143,0,4,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
17400,tr58_0000882184_0000882184-20-000143,115,27,"/s/ Michael W. Hewatt Director November 19, 2020","/s/ michael w. hewatt director november 19, 2020",,NaN,NaN,False,None,114.0
17410,tr58_0000882184_0000882184-20-000143,115,28,Michael W. Hewatt,michael w. hewatt,,NaN,NaN,False,None,114.0
17420,tr58_0000882184_0000882184-20-000143,115,29,"/s/ Maribess L. Miller Director November 19, 2020","/s/ maribess l. miller director november 19, 2020",,NaN,NaN,False,None,114.0
17430,tr58_0000882184_0000882184-20-000143,115,30,Maribess L. Miller,maribess l. miller,,NaN,NaN,False,None,114.0
17440,tr58_0000882184_0000882184-20-000143,115,31,114,114,,NaN,NaN,True,page_number,114.0

--------------------------------------------------
Document ID: tr59_0000884887_0000884887-17-000020
missing: ['item10', 'item11', 'item12', 'item13', 'item14']

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr59_0000884887_0000884887-17-000020,0,0,10-K 1 rcl-20161231x10k.htm 10-K,10 k 1 rcl 20161231x10k.htm 10 k,,NaN,NaN,True,cover,NaN
20,tr59_0000884887_0000884887-17-000020,0,1,**(Mark One)**,(mark one),,NaN,NaN,True,cover,NaN
30,tr59_0000884887_0000884887-17-000020,0,2,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
40,tr59_0000884887_0000884887-17-000020,0,3,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
50,tr59_0000884887_0000884887-17-000020,0,4,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
24950,tr59_0000884887_0000884887-17-000020,119,14,(1) Our revenues are seasonal based on the dem...,(1) our revenues are seasonal based on the dem...,,NaN,NaN,False,None,46.0
24960,tr59_0000884887_0000884887-17-000020,119,15,(2) Amounts for the third quarter of 2015 incl...,(2) amounts for the third quarter of 2015 incl...,,NaN,NaN,False,None,46.0
24970,tr59_0000884887_0000884887-17-000020,119,16,(3) Amount for the first quarter of 2016 inclu...,(3) amount for the first quarter of 2016 inclu...,,NaN,NaN,False,None,46.0
24980,tr59_0000884887_0000884887-17-000020,119,17,(4) Amount for the third quarter of 2015 inclu...,(4) amount for the third quarter of 2015 inclu...,,NaN,NaN,False,None,46.0
24990,tr59_0000884887_0000884887-17-000020,119,18,F-46,f 46,,NaN,NaN,True,page_number,46.0

--------------------------------------------------
Document ID: tr60_0000906107_0001564590-19-003683
missing: ['item10', 'item11', 'item12', 'item13', 'item14']

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr60_0000906107_0001564590-19-003683,0,0,10-K 1 eqr-10k_20181231.htm 10-K\nTable of Con...,10 k 1 eqr 10k 20181231.htm 10 k table of cont...,,NaN,NaN,True,cover,NaN
20,tr60_0000906107_0001564590-19-003683,0,1,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
30,tr60_0000906107_0001564590-19-003683,0,2,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
40,tr60_0000906107_0001564590-19-003683,0,3,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
50,tr60_0000906107_0001564590-19-003683,0,4,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
27030,tr60_0000906107_0001564590-19-003683,130,11,(G) A portion of these properties includes and...,(g) a portion of these properties includes and...,,NaN,NaN,False,None,11.0
27040,tr60_0000906107_0001564590-19-003683,130,12,(H) Total properties and apartment units exclu...,(h) total properties and apartment units exclu...,,NaN,NaN,False,None,11.0
27050,tr60_0000906107_0001564590-19-003683,130,13,(I) See Encumbrances Reconciliation schedule.,(i) see encumbrances reconciliation schedule.,,NaN,NaN,False,None,11.0
27060,tr60_0000906107_0001564590-19-003683,130,14,(J) Boot property for Bond Partnership mortgag...,(j) boot property for bond partnership mortgag...,,NaN,NaN,False,None,11.0
27070,tr60_0000906107_0001564590-19-003683,130,15,S-11,s 11,,NaN,NaN,True,page_number,11.0

--------------------------------------------------
Document ID: tr61_0000906345_0000906345-17-000009
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr61_0000906345_0000906345-17-000009,0,0,10-K 1 cpt12312016-10k.htm 10-K,10 k 1 cpt12312016 10k.htm 10 k,,NaN,NaN,True,cover,NaN
20,tr61_0000906345_0000906345-17-000009,0,1,**Table of Contents**,table of contents,,NaN,NaN,True,cover,NaN
30,tr61_0000906345_0000906345-17-000009,0,2,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
40,tr61_0000906345_0000906345-17-000009,0,3,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
50,tr61_0000906345_0000906345-17-000009,0,4,"**WASHINGTON, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
22850,tr61_0000906345_0000906345-17-000009,84,20,"Advances under real estate loans 7,458 9,766 —","advances under real estate loans 7,458 9,766 —",,NaN,NaN,False,None,3.0
22860,tr61_0000906345_0000906345-17-000009,84,21,Deductions:,deductions:,,NaN,NaN,False,None,3.0
22870,tr61_0000906345_0000906345-17-000009,84,22,"Collections of principal and loan payoff (3,39...","collections of principal and loan payoff (3,39...",,NaN,NaN,False,None,3.0
22880,tr61_0000906345_0000906345-17-000009,84,23,"Balance, end of period $ 17,224 $ 13,161 $ 3,395","balance, end of period $ 17,224 $ 13,161 $ 3,395",,NaN,NaN,False,None,3.0
22890,tr61_0000906345_0000906345-17-000009,84,24,S-3,s 3,,NaN,NaN,True,page_number,3.0

--------------------------------------------------
Document ID: tr62_0000927066_0001564590-16-013587
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr62_0000927066_0001564590-16-013587,0,0,10-K 1 dva-10k_20151231.htm 10-K,10 k 1 dva 10k 20151231.htm 10 k,,NaN,NaN,True,cover,NaN
20,tr62_0000927066_0001564590-16-013587,0,1,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
30,tr62_0000927066_0001564590-16-013587,0,2,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
40,tr62_0000927066_0001564590-16-013587,0,3,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
50,tr62_0000927066_0001564590-16-013587,0,4,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
23710,tr62_0000927066_0001564590-16-013587,159,28,101.PRE XBRL Taxonomy Extension Presentation L...,101.pre xbrl taxonomy extension presentation l...,,NaN,NaN,False,None,NaN
23720,tr62_0000927066_0001564590-16-013587,159,29, Included in this filing.\n- Management contr..., included in this filing. management contract...,,NaN,NaN,False,None,NaN
23730,tr62_0000927066_0001564590-16-013587,159,30,Page 4 of 5,page 4 of 5,,NaN,NaN,False,None,NaN
23740,tr62_0000927066_0001564590-16-013587,160,0,"(10) Filed on August 7, 2006 as an exhibit to ...","(10) filed on august 7, 2006 as an exhibit to ...",,NaN,NaN,False,None,NaN
23750,tr62_0000927066_0001564590-16-013587,160,1,Page 5 of 5,page 5 of 5,,NaN,NaN,False,None,NaN

--------------------------------------------------
Document ID: tr63_0000936340_0000936340-18-000082
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr63_0000936340_0000936340-18-000082,0,0,10-K 1 dteenergy2017123110k.htm DTE ENERGY FOR...,10 k 1 dteenergy2017123110k.htm dte energy for...,,NaN,NaN,True,cover,NaN
20,tr63_0000936340_0000936340-18-000082,0,1,**UNITED STATES SECURITIES AND EXCHANGE COMMIS...,united states securities and exchange commission,,NaN,NaN,True,cover,NaN
30,tr63_0000936340_0000936340-18-000082,0,2,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
40,tr63_0000936340_0000936340-18-000082,0,3,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
50,tr63_0000936340_0000936340-18-000082,0,4,**ANNUAL REPORT PURSUANT TO SECTION 13 OR 15(d...,annual report pursuant to section 13 or 15(d) ...,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
38890,tr63_0000936340_0000936340-18-000082,157,19,"David E. Meador, Director Bruce D. Peterson, D...","david e. meador, director bruce d. peterson, d...",,NaN,NaN,False,None,155.0
38900,tr63_0000936340_0000936340-18-000082,157,20,"Date: February 16, 2018","date: february 16, 2018",,NaN,NaN,False,None,155.0
38910,tr63_0000936340_0000936340-18-000082,157,21,Supplemental Information to be Furnished with ...,supplemental information to be furnished with ...,,NaN,NaN,False,None,155.0
38920,tr63_0000936340_0000936340-18-000082,157,22,"No annual report, proxy statement, form of pro...","no annual report, proxy statement, form of pro...",,NaN,NaN,False,None,155.0
38930,tr63_0000936340_0000936340-18-000082,157,23,155,155,,NaN,NaN,True,page_number,155.0

--------------------------------------------------
Document ID: tr64_0000936468_0000936468-22-000008
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr64_0000936468_0000936468-22-000008,0,0,Table of Contents,table of contents,,NaN,NaN,True,cover,NaN
20,tr64_0000936468_0000936468-22-000008,0,1,(Mark One),(mark one),,NaN,NaN,True,cover,NaN
30,tr64_0000936468_0000936468-22-000008,0,2,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
40,tr64_0000936468_0000936468-22-000008,0,3,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
50,tr64_0000936468_0000936468-22-000008,0,4,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
16250,tr64_0000936468_0000936468-22-000008,114,18,*By Maryanne R. Lavan pursuant to a Power of A...,by maryanne r. lavan pursuant to a power of at...,,NaN,NaN,False,None,115.0
16260,tr64_0000936468_0000936468-22-000008,114,19,"Date: January 25, 2022 By: /s/ Maryanne R. Lavan","date: january 25, 2022 by: /s/ maryanne r. lavan",,NaN,NaN,False,None,115.0
16270,tr64_0000936468_0000936468-22-000008,114,20,Maryanne R. Lavan\nAttorney-in-fact,maryanne r. lavan attorney in fact,,NaN,NaN,False,None,115.0
16280,tr64_0000936468_0000936468-22-000008,114,21,115,115,,NaN,NaN,True,page_number,115.0
16290,tr64_0000936468_0000936468-22-000008,114,22,|Signatures|Titles|Date|\n|---|---|---|\n|/s/ ...,|signatures|titles|date| | | | | |/s/ james d....,,NaN,NaN,False,None,115.0

--------------------------------------------------
Document ID: tr65_0000943452_0001564590-15-000794
missing: ['item10', 'item11', 'item12', 'item13', 'item14']

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr65_0000943452_0001564590-15-000794,0,0,10-K 1 wab-10k_20141231.htm 10-K,10 k 1 wab 10k 20141231.htm 10 k,,NaN,NaN,True,cover,NaN
20,tr65_0000943452_0001564590-15-000794,0,1,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
30,tr65_0000943452_0001564590-15-000794,0,2,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
40,tr65_0000943452_0001564590-15-000794,0,3,"**WASHINGTON, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
50,tr65_0000943452_0001564590-15-000794,0,4,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
12660,tr65_0000943452_0001564590-15-000794,77,7,101.DEF XBRL Taxonomy Extension Definition Lin...,101.def xbrl taxonomy extension definition lin...,,NaN,NaN,False,None,78.0
12670,tr65_0000943452_0001564590-15-000794,77,8,101.LAB XBRL Taxonomy Extension Label Linkbase...,101.lab xbrl taxonomy extension label linkbase...,,NaN,NaN,False,None,78.0
12680,tr65_0000943452_0001564590-15-000794,77,9,101.PRE XBRL Taxonomy Extension Presentation L...,101.pre xbrl taxonomy extension presentation l...,,NaN,NaN,False,None,78.0
12690,tr65_0000943452_0001564590-15-000794,77,10,1 Filed herewith.\n2 Filed as an exhibit to th...,1 filed herewith. 2 filed as an exhibit to the...,,NaN,NaN,False,None,78.0
12700,tr65_0000943452_0001564590-15-000794,77,11,78,78,,NaN,NaN,True,page_number,78.0

--------------------------------------------------
Document ID: tr66_0001035267_0001035267-15-000014
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr66_0001035267_0001035267-15-000014,0,0,10-K 1 isrg-20141231x10k.htm 10-K\nTable of Co...,10 k 1 isrg 20141231x10k.htm 10 k table of con...,,NaN,NaN,True,cover,NaN
20,tr66_0001035267_0001035267-15-000014,0,1,**(MARK ONE)**,(mark one),,NaN,NaN,True,cover,NaN
30,tr66_0001035267_0001035267-15-000014,0,2,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
40,tr66_0001035267_0001035267-15-000014,0,3,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
50,tr66_0001035267_0001035267-15-000014,0,4,"**WASHINGTON, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
19460,tr66_0001035267_0001035267-15-000014,93,28,"/S/ MARK J. RUBASH Director February 5, 2015","/s/ mark j. rubash director february 5, 2015",,NaN,NaN,False,None,94.0
19470,tr66_0001035267_0001035267-15-000014,93,29,**Mark J. Rubash**,mark j. rubash,,NaN,NaN,False,None,94.0
19480,tr66_0001035267_0001035267-15-000014,93,30,"/S/ GEORGE STALK JR. Director February 5, 2015","/s/ george stalk jr. director february 5, 2015",,NaN,NaN,False,None,94.0
19490,tr66_0001035267_0001035267-15-000014,93,31,**George Stalk Jr.**,george stalk jr.,,NaN,NaN,False,None,94.0
19500,tr66_0001035267_0001035267-15-000014,93,32,94,94,,NaN,NaN,True,page_number,94.0

--------------------------------------------------
Document ID: tr67_0001043277_0001043277-14-000004
missing: ['item09b', 'item10']

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr67_0001043277_0001043277-14-000004,0,0,10-K 1 chrw-10k2013.htm 10-K\nTable of Contents,10 k 1 chrw 10k2013.htm 10 k table of contents,,NaN,NaN,True,cover,NaN
20,tr67_0001043277_0001043277-14-000004,0,1,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
30,tr67_0001043277_0001043277-14-000004,0,2,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
40,tr67_0001043277_0001043277-14-000004,0,3,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
50,tr67_0001043277_0001043277-14-000004,0,4,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
13790,tr67_0001043277_0001043277-14-000004,61,17,*101,101,,NaN,NaN,False,None,62.0
13800,tr67_0001043277_0001043277-14-000004,61,18,- Filed herewith,filed herewith,,NaN,NaN,False,None,62.0
13810,tr67_0001043277_0001043277-14-000004,61,19,The following financial statements from our An...,the following financial statements from our an...,,NaN,NaN,False,None,62.0
13820,tr67_0001043277_0001043277-14-000004,61,20,† Management contract or compensatory plan or ...,† management contract or compensatory plan or ...,,NaN,NaN,False,None,62.0
13830,tr67_0001043277_0001043277-14-000004,61,21,62,62,,NaN,NaN,True,page_number,62.0

--------------------------------------------------
Document ID: tr68_0001048286_0001628280-20-002376
missing: ['item10', 'item11', 'item13', 'item14']

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr68_0001048286_0001628280-20-002376,0,0,Table of Contents,table of contents,,NaN,NaN,True,cover,NaN
20,tr68_0001048286_0001628280-20-002376,0,1,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
30,tr68_0001048286_0001628280-20-002376,0,2,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
40,tr68_0001048286_0001628280-20-002376,0,3,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
50,tr68_0001048286_0001628280-20-002376,0,4,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
20590,tr68_0001048286_0001628280-20-002376,92,28,/s/Eric Hippeau /s/Susan C. Schwab,/s/eric hippeau /s/susan c. schwab,,NaN,NaN,False,None,93.0
20600,tr68_0001048286_0001628280-20-002376,92,29,"Eric Hippeau, Director Susan C. Schwab, Director","eric hippeau, director susan c. schwab, director",,NaN,NaN,False,None,93.0
20610,tr68_0001048286_0001628280-20-002376,92,30,/s/Lawrence W. Kellner,/s/lawrence w. kellner,,NaN,NaN,False,None,93.0
20620,tr68_0001048286_0001628280-20-002376,92,31,"Lawrence W. Kellner, Director","lawrence w. kellner, director",,NaN,NaN,False,None,93.0
20630,tr68_0001048286_0001628280-20-002376,92,32,93,93,,NaN,NaN,True,page_number,93.0

--------------------------------------------------
Document ID: tr69_0001050915_0001193125-14-079763
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr69_0001050915_0001193125-14-079763,0,0,10-K 1 d637038d10k.htm 10-K,10 k 1 d637038d10k.htm 10 k,,NaN,NaN,True,cover,NaN
20,tr69_0001050915_0001193125-14-079763,0,1,**Table of Contents**,table of contents,,NaN,NaN,True,cover,NaN
30,tr69_0001050915_0001193125-14-079763,0,2,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
40,tr69_0001050915_0001193125-14-079763,0,3,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
50,tr69_0001050915_0001193125-14-079763,0,4,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
20410,tr69_0001050915_0001193125-14-079763,143,13,Joinder Agreement and Third Amendment to Under...,joinder agreement and third amendment to under...,,NaN,NaN,False,None,143.0
20420,tr69_0001050915_0001193125-14-079763,143,14,Joinder Agreement and Fourth Amendment to Unde...,joinder agreement and fourth amendment to unde...,,NaN,NaN,False,None,143.0
20430,tr69_0001050915_0001193125-14-079763,143,15,Joinder Agreement and Fifth Amendment to Under...,joinder agreement and fifth amendment to under...,,NaN,NaN,False,None,143.0
20440,tr69_0001050915_0001193125-14-079763,143,16,"Sixth Amendment to Underwriting, Continuing In...","sixth amendment to underwriting, continuing in...",,NaN,NaN,False,None,143.0
20450,tr69_0001050915_0001193125-14-079763,143,17,143,143,,NaN,NaN,True,page_number,143.0

--------------------------------------------------
Document ID: tr70_0001057352_0001057352-13-000013
missing: ['item06']

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr70_0001057352_0001057352-13-000013,0,0,10-K 1 csgp20121231-10k.htm 2012 10-K,10 k 1 csgp20121231 10k.htm 2012 10 k,,NaN,NaN,True,cover,NaN
20,tr70_0001057352_0001057352-13-000013,0,1,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
30,tr70_0001057352_0001057352-13-000013,0,2,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
40,tr70_0001057352_0001057352-13-000013,0,3,"**Washington, DC 20549**","washington, dc 20549",,NaN,NaN,True,cover,NaN
50,tr70_0001057352_0001057352-13-000013,0,4,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
18360,tr70_0001057352_0001057352-13-000013,95,4,"The office lease will expire May 31, 2025. The...","the office lease will expire may 31, 2025. the...",,NaN,NaN,False,None,38.0
18370,tr70_0001057352_0001057352-13-000013,95,5,The transaction qualified for sale-leaseback a...,the transaction qualified for sale leaseback a...,,NaN,NaN,False,None,38.0
18380,tr70_0001057352_0001057352-13-000013,95,6,**19.EQUITY OFFERING**,19. equity offering,,NaN,NaN,False,None,38.0
18390,tr70_0001057352_0001057352-13-000013,95,7,"During June 2011, the Company completed an equ...","during june 2011, the company completed an equ...",,NaN,NaN,False,None,38.0
18400,tr70_0001057352_0001057352-13-000013,95,8,F-38,f 38,,NaN,NaN,True,page_number,38.0

--------------------------------------------------
Document ID: tr71_0001063761_0001558370-24-001532
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr71_0001063761_0001558370-24-001532,0,0,Table of Contents,table of contents,,NaN,NaN,True,cover,NaN
20,tr71_0001063761_0001558370-24-001532,0,1,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
30,tr71_0001063761_0001558370-24-001532,0,2,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
40,tr71_0001063761_0001558370-24-001532,0,3,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
50,tr71_0001063761_0001558370-24-001532,0,4,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
31050,tr71_0001063761_0001558370-24-001532,152,18,**(4)** Not developed/constructed by us or our...,(4) not developed/constructed by us or our pre...,,NaN,NaN,False,None,153.0
31060,tr71_0001063761_0001558370-24-001532,152,19,**(5)** Initial cost for these properties is t...,(5) initial cost for these properties is the c...,,NaN,NaN,False,None,153.0
31070,tr71_0001063761_0001558370-24-001532,152,20,**(6)** Encumbrances represent face amount of ...,(6) encumbrances represent face amount of mort...,,NaN,NaN,False,None,153.0
31080,tr71_0001063761_0001558370-24-001532,152,21,**(7)** Represents the original cost and does ...,(7) represents the original cost and does not ...,,NaN,NaN,False,None,153.0
31090,tr71_0001063761_0001558370-24-001532,152,22,153,153,,NaN,NaN,True,page_number,153.0

--------------------------------------------------
Document ID: tr72_0001065280_0001065280-19-000043
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr72_0001065280_0001065280-19-000043,0,0,10-K 1 form10k_q418.htm 10-K,10 k 1 form10k q418.htm 10 k,,NaN,NaN,True,cover,NaN
20,tr72_0001065280_0001065280-19-000043,0,1,**UNITED STATES SECURITIES AND EXCHANGE COMMIS...,united states securities and exchange commission,,NaN,NaN,True,cover,NaN
30,tr72_0001065280_0001065280-19-000043,0,2,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
40,tr72_0001065280_0001065280-19-000043,0,3,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
50,tr72_0001065280_0001065280-19-000043,0,4,**(Mark One)**,(mark one),,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
16840,tr72_0001065280_0001065280-19-000043,76,25,/S/ ANNE SWEENEY,/s/ anne sweeney,,NaN,NaN,False,None,75.0
16850,tr72_0001065280_0001065280-19-000043,76,26,"Anne Sweeney Director January 29, 2019","anne sweeney director january 29, 2019",,NaN,NaN,False,None,75.0
16860,tr72_0001065280_0001065280-19-000043,76,27,/S/ RODOLPHE BELMER,/s/ rodolphe belmer,,NaN,NaN,False,None,75.0
16870,tr72_0001065280_0001065280-19-000043,76,28,"Rodolphe Belmer Director January 29, 2019","rodolphe belmer director january 29, 2019",,NaN,NaN,False,None,75.0
16880,tr72_0001065280_0001065280-19-000043,76,29,75,75,,NaN,NaN,True,page_number,75.0

--------------------------------------------------
Document ID: tr73_0001070750_0001193125-13-073292
missing: ['item06']

duplicates: ['item05']

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr73_0001070750_0001193125-13-073292,0,0,10-K 1 d440990d10k.htm FORM 10-K,10 k 1 d440990d10k.htm form 10 k,,NaN,NaN,True,cover,NaN
20,tr73_0001070750_0001193125-13-073292,0,1,**Table of Contents**,table of contents,,NaN,NaN,True,cover,NaN
30,tr73_0001070750_0001193125-13-073292,0,2,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
40,tr73_0001070750_0001193125-13-073292,0,3,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
50,tr73_0001070750_0001193125-13-073292,0,4,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
29320,tr73_0001070750_0001193125-13-073292,174,17,**21.Subsidiaries**,21. subsidiaries,,NaN,NaN,False,None,NaN
29330,tr73_0001070750_0001193125-13-073292,174,18,21.1* List of Subsidiaries of Host Hotels & Re...,21.1 list of subsidiaries of host hotels & res...,,NaN,NaN,False,None,NaN
29340,tr73_0001070750_0001193125-13-073292,174,19,21.2* List of Subsidiaries of Host Hotels & Re...,21.2 list of subsidiaries of host hotels & res...,,NaN,NaN,False,None,NaN
29350,tr73_0001070750_0001193125-13-073292,174,20,**23.Consents**,23. consents,,NaN,NaN,False,None,NaN
29360,tr73_0001070750_0001193125-13-073292,174,21,23* Consent of KPMG LLP,23 consent of kpmg llp,,NaN,NaN,False,None,NaN

--------------------------------------------------
Document ID: tr74_0001070750_0001564590-15-000907
missing: ['item06']

duplicates: ['item05']

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr74_0001070750_0001564590-15-000907,0,0,10-K 1 hst-10k_20141231.htm 10-K,10 k 1 hst 10k 20141231.htm 10 k,,NaN,NaN,True,cover,NaN
20,tr74_0001070750_0001564590-15-000907,0,1,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
30,tr74_0001070750_0001564590-15-000907,0,2,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
40,tr74_0001070750_0001564590-15-000907,0,3,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
50,tr74_0001070750_0001564590-15-000907,0,4,**Form 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
23370,tr74_0001070750_0001564590-15-000907,153,9,101.LAB XBRL Taxonomy Label Linkbase Document....,101.lab xbrl taxonomy label linkbase document....,,NaN,NaN,False,None,NaN
23380,tr74_0001070750_0001564590-15-000907,153,10,101.PRE XBRL Taxonomy Presentation Linkbase Do...,101.pre xbrl taxonomy presentation linkbase do...,,NaN,NaN,False,None,NaN
23390,tr74_0001070750_0001564590-15-000907,153,11,Attached as Exhibit 101 to this report are the...,attached as exhibit 101 to this report are the...,,NaN,NaN,False,None,NaN
23400,tr74_0001070750_0001564590-15-000907,153,12,- Filed herewith.\n# Confidential treatment re...,filed herewith. confidential treatment requested.,,NaN,NaN,False,None,NaN
23410,tr74_0001070750_0001564590-15-000907,153,13,† This certificate is being furnished solely t...,† this certificate is being furnished solely t...,,NaN,NaN,False,None,NaN

--------------------------------------------------
Document ID: tr75_0001093557_0001093557-15-000040
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr75_0001093557_0001093557-15-000040,0,0,10-K 1 dxcm-12312014x10k.htm 10-K,10 k 1 dxcm 12312014x10k.htm 10 k,,NaN,NaN,True,cover,NaN
20,tr75_0001093557_0001093557-15-000040,0,1,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
30,tr75_0001093557_0001093557-15-000040,0,2,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
40,tr75_0001093557_0001093557-15-000040,0,3,"**Washington, DC 20549**","washington, dc 20549",,NaN,NaN,True,cover,NaN
50,tr75_0001093557_0001093557-15-000040,0,4,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
16850,tr75_0001093557_0001093557-15-000040,85,19,Provision for doubtful accounts 4.0,provision for doubtful accounts 4.0,,NaN,NaN,False,None,26.0
16860,tr75_0001093557_0001093557-15-000040,85,20,Write-off and adjustments (2.6),write off and adjustments (2.6),,NaN,NaN,False,None,26.0
16870,tr75_0001093557_0001093557-15-000040,85,21,Recoveries 0.3,recoveries 0.3,,NaN,NaN,False,None,26.0
16880,tr75_0001093557_0001093557-15-000040,85,22,"Balance December 31, 2014 $ 4.3","balance december 31, 2014 $ 4.3",,NaN,NaN,False,None,26.0
16890,tr75_0001093557_0001093557-15-000040,85,23,F-26,f 26,,NaN,NaN,True,page_number,26.0

--------------------------------------------------
Document ID: tr76_0001093557_0001193125-13-069590
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr76_0001093557_0001193125-13-069590,0,0,10-K 1 d449646d10k.htm FORM 10-K,10 k 1 d449646d10k.htm form 10 k,,NaN,NaN,True,cover,NaN
20,tr76_0001093557_0001193125-13-069590,0,1,**Table of Contents**,table of contents,,NaN,NaN,True,cover,NaN
30,tr76_0001093557_0001193125-13-069590,0,2,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
40,tr76_0001093557_0001193125-13-069590,0,3,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
50,tr76_0001093557_0001193125-13-069590,0,4,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
16740,tr76_0001093557_0001193125-13-069590,103,14,(a) The sum of the four quarters may not agree...,(a) the sum of the four quarters may not agree...,,NaN,NaN,False,None,30.0
16750,tr76_0001093557_0001193125-13-069590,103,15,**11. Subsequent Events**,11. subsequent events,,NaN,NaN,False,None,30.0
16760,tr76_0001093557_0001193125-13-069590,103,16,"On January 4, 2013, the Tandem Agreement was a...","on january 4, 2013, the tandem agreement was a...",,NaN,NaN,False,None,30.0
16770,tr76_0001093557_0001193125-13-069590,103,17,"On February 20, 2013, Roche provided us with n...","on february 20, 2013, roche provided us with n...",,NaN,NaN,False,None,30.0
16780,tr76_0001093557_0001193125-13-069590,103,18,F-30,f 30,,NaN,NaN,True,page_number,30.0

--------------------------------------------------
Document ID: tr77_0001103982_0001103982-21-000004
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr77_0001103982_0001103982-21-000004,0,0,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
20,tr77_0001103982_0001103982-21-000004,0,1,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
30,tr77_0001103982_0001103982-21-000004,0,2,"**WASHINGTON, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
40,tr77_0001103982_0001103982-21-000004,0,3,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
50,tr77_0001103982_0001103982-21-000004,0,4,**(Mark one)**,(mark one),,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
21260,tr77_0001103982_0001103982-21-000004,141,11,Allowance for trade receivables $ 35 $ 10 $ (1...,allowance for trade receivables $ 35 $ 10 $ (1...,,NaN,NaN,False,None,NaN
21270,tr77_0001103982_0001103982-21-000004,141,12,Allowance for trade receivables $ 40 $ 2 $ (4)...,allowance for trade receivables $ 40 $ 2 $ (4)...,,NaN,NaN,False,None,NaN
21280,tr77_0001103982_0001103982-21-000004,141,13,Allowance for trade receivables $ 50 $ 3 $ (6)...,allowance for trade receivables $ 50 $ 3 $ (6)...,,NaN,NaN,False,None,NaN
21290,tr77_0001103982_0001103982-21-000004,141,14,"Notes:\n(a) Primarily related to divestitures,...","notes: (a) primarily related to divestitures, ...",,NaN,NaN,False,None,NaN
21300,tr77_0001103982_0001103982-21-000004,141,15,S-1,s 1,,NaN,NaN,False,None,NaN

--------------------------------------------------
Document ID: tr78_0001116132_0001116132-22-000018
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr78_0001116132_0001116132-22-000018,0,0,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
20,tr78_0001116132_0001116132-22-000018,0,1,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
30,tr78_0001116132_0001116132-22-000018,0,2,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
40,tr78_0001116132_0001116132-22-000018,0,3,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
50,tr78_0001116132_0001116132-22-000018,0,4,☑ **ANNUAL REPORT PURSUANT TO SECTION 13 OR 15...,☑ annual report pursuant to section 13 or 15(d...,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
16530,tr78_0001116132_0001116132-22-000018,108,2,Note: the instance document does not appear in...,note: the instance document does not appear in...,,NaN,NaN,False,None,107.0
16540,tr78_0001116132_0001116132-22-000018,108,3,- Filed herewith,filed herewith,,NaN,NaN,False,None,107.0
16550,tr78_0001116132_0001116132-22-000018,108,4,† Management contract or compensatory plan or ...,† management contract or compensatory plan or ...,,NaN,NaN,False,None,107.0
16560,tr78_0001116132_0001116132-22-000018,108,5,107,107,,NaN,NaN,True,page_number,107.0
16570,tr78_0001116132_0001116132-22-000018,108,6,"|Credit|Agreement dated as of May 11, 2022, am...","|credit|agreement dated as of may 11, 2022, am...",,NaN,NaN,False,None,107.0

--------------------------------------------------
Document ID: tr79_0001133421_0001133421-18-000005
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr79_0001133421_0001133421-18-000005,0,0,10-K 1 noc-12312017x10k.htm 10-K,10 k 1 noc 12312017x10k.htm 10 k,,NaN,NaN,True,cover,NaN
20,tr79_0001133421_0001133421-18-000005,0,1,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
30,tr79_0001133421_0001133421-18-000005,0,2,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
40,tr79_0001133421_0001133421-18-000005,0,3,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
50,tr79_0001133421_0001133421-18-000005,0,4,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
20670,tr79_0001133421_0001133421-18-000005,93,26,Jennifer C. McGarey,jennifer c. mcgarey,,NaN,NaN,False,None,91.0
20680,tr79_0001133421_0001133421-18-000005,93,27,Corporate Vice President and Secretary,corporate vice president and secretary,,NaN,NaN,False,None,91.0
20690,tr79_0001133421_0001133421-18-000005,93,28,Attorney-in-Fact,attorney in fact,,NaN,NaN,False,None,91.0
20700,tr79_0001133421_0001133421-18-000005,93,29,pursuant to a power of attorney,pursuant to a power of attorney,,NaN,NaN,False,None,91.0
20710,tr79_0001133421_0001133421-18-000005,93,30,-91,91,,NaN,NaN,True,page_number,91.0

--------------------------------------------------
Document ID: tr80_0001136869_0001193125-16-485039
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr80_0001136869_0001193125-16-485039,0,0,10-K 1 d112646d10k.htm FORM 10-K,10 k 1 d112646d10k.htm form 10 k,,NaN,NaN,True,cover,NaN
20,tr80_0001136869_0001193125-16-485039,0,1,**Table of Contents**,table of contents,,NaN,NaN,True,cover,NaN
30,tr80_0001136869_0001193125-16-485039,0,2,UNITED STATES SECURITIES AND EXCHANGE COMMISSION,united states securities and exchange commission,,NaN,NaN,True,cover,NaN
40,tr80_0001136869_0001193125-16-485039,0,3,"Washington, D.C. 20549","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
50,tr80_0001136869_0001193125-16-485039,0,4,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
18110,tr80_0001136869_0001193125-16-485039,83,1,"ZIMMER BIOMET HOLDINGS, INC. 2015 FORM 10-K AN...","zimmer biomet holdings, inc. 2015 form 10 k an...",,NaN,NaN,True,header,84.0
18120,tr80_0001136869_0001193125-16-485039,83,2,Exhibit No Description†\n101.LAB XBRL Taxonomy...,exhibit no description† 101.lab xbrl taxonomy ...,,NaN,NaN,False,None,84.0
18130,tr80_0001136869_0001193125-16-485039,83,3,"† Unless otherwise indicated, exhibits incorpo...","† unless otherwise indicated, exhibits incorpo...",,NaN,NaN,False,None,84.0
18140,tr80_0001136869_0001193125-16-485039,83,4,- Management contract or compensatory plan or ...,management contract or compensatory plan or ar...,,NaN,NaN,False,None,84.0
18150,tr80_0001136869_0001193125-16-485039,83,5,84,84,,NaN,NaN,True,page_number,84.0

--------------------------------------------------
Document ID: tr81_0001138118_0001138118-24-000006
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr81_0001138118_0001138118-24-000006,0,0,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
20,tr81_0001138118_0001138118-24-000006,0,1,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
30,tr81_0001138118_0001138118-24-000006,0,2,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
40,tr81_0001138118_0001138118-24-000006,0,3,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
50,tr81_0001138118_0001138118-24-000006,0,4,☒☒☒ ANNUAL REPORT PURSUANT TO SECTION 13 OR 15...,☒☒☒ annual report pursuant to section 13 or 15...,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
18980,tr81_0001138118_0001138118-24-000006,120,31,/s/ ROBERT E. SULENTIC Chief Executive Officer...,/s/ robert e. sulentic chief executive officer...,,NaN,NaN,False,None,119.0
18990,tr81_0001138118_0001138118-24-000006,120,32,**Robert E. Sulentic** (Principal Executive Of...,robert e. sulentic (principal executive officer),,NaN,NaN,False,None,119.0
19000,tr81_0001138118_0001138118-24-000006,120,33,"/s/ SANJIV YAJNIK Director February 20, 2024","/s/ sanjiv yajnik director february 20, 2024",,NaN,NaN,False,None,119.0
19010,tr81_0001138118_0001138118-24-000006,120,34,**Sanjiv Yajnik**,sanjiv yajnik,,NaN,NaN,False,None,119.0
19020,tr81_0001138118_0001138118-24-000006,120,35,119,119,,NaN,NaN,True,page_number,119.0

--------------------------------------------------
Document ID: tr82_0001262039_0001262039-20-000011
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr82_0001262039_0001262039-20-000011,0,0,Table of Contents,table of contents,,NaN,NaN,True,cover,NaN
20,tr82_0001262039_0001262039-20-000011,0,1,(Mark One),(mark one),,NaN,NaN,True,cover,NaN
30,tr82_0001262039_0001262039-20-000011,0,2,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
40,tr82_0001262039_0001262039-20-000011,0,3,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
50,tr82_0001262039_0001262039-20-000011,0,4,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
24180,tr82_0001262039_0001262039-20-000011,107,19,/s/ Christopher B. Paisley Director February 2...,/s/ christopher b. paisley director february 2...,,NaN,NaN,False,None,104.0
24190,tr82_0001262039_0001262039-20-000011,107,20,**Christopher B. Paisley**,christopher b. paisley,,NaN,NaN,False,None,104.0
24200,tr82_0001262039_0001262039-20-000011,107,21,"/s/ Judith Sim Director February 25, 2020","/s/ judith sim director february 25, 2020",,NaN,NaN,False,None,104.0
24210,tr82_0001262039_0001262039-20-000011,107,22,**Judith Sim**,judith sim,,NaN,NaN,False,None,104.0
24220,tr82_0001262039_0001262039-20-000011,107,23,104,104,,NaN,NaN,True,page_number,104.0

--------------------------------------------------
Document ID: tr83_0001324424_0001324424-23-000007
missing: ['item06', 'item15']

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr83_0001324424_0001324424-23-000007,0,0,Table of Contents,table of contents,,NaN,NaN,True,cover,NaN
20,tr83_0001324424_0001324424-23-000007,0,1,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
30,tr83_0001324424_0001324424-23-000007,0,2,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
40,tr83_0001324424_0001324424-23-000007,0,3,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
50,tr83_0001324424_0001324424-23-000007,0,4,**Form 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
16990,tr83_0001324424_0001324424-23-000007,98,19,Allowance for expected credit losses $ 101 $ 7...,allowance for expected credit losses $ 101 $ 7...,,NaN,NaN,False,None,43.0
17000,tr83_0001324424_0001324424-23-000007,98,20,**2020**,2020,,NaN,NaN,False,None,43.0
17010,tr83_0001324424_0001324424-23-000007,98,21,Allowance for doubtful accounts $ 41 $ 82 $ 2 ...,allowance for doubtful accounts $ 41 $ 82 $ 2 ...,,NaN,NaN,False,None,43.0
17020,tr83_0001324424_0001324424-23-000007,98,22,(1) Charges to other accounts primarily relate...,(1) charges to other accounts primarily relate...,,NaN,NaN,False,None,43.0
17030,tr83_0001324424_0001324424-23-000007,98,23,F- 43,f 43,,NaN,NaN,True,page_number,43.0

--------------------------------------------------
Document ID: tr84_0001326801_0001326801-18-000009
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr84_0001326801_0001326801-18-000009,0,0,10-K 1 fb-12312017x10k.htm 10-K,10 k 1 fb 12312017x10k.htm 10 k,,NaN,NaN,True,cover,NaN
20,tr84_0001326801_0001326801-18-000009,0,1,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
30,tr84_0001326801_0001326801-18-000009,0,2,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
40,tr84_0001326801_0001326801-18-000009,0,3,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
50,tr84_0001326801_0001326801-18-000009,0,4,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
17660,tr84_0001326801_0001326801-18-000009,87,20,"/s/ Sheryl K. Sandberg Director February 1, 2018","/s/ sheryl k. sandberg director february 1, 2018",,NaN,NaN,False,None,88.0
17670,tr84_0001326801_0001326801-18-000009,87,21,**Sheryl K. Sandberg**,sheryl k. sandberg,,NaN,NaN,False,None,88.0
17680,tr84_0001326801_0001326801-18-000009,87,22,"/s/ Peter A. Thiel Director February 1, 2018","/s/ peter a. thiel director february 1, 2018",,NaN,NaN,False,None,88.0
17690,tr84_0001326801_0001326801-18-000009,87,23,**Peter A. Thiel**,peter a. thiel,,NaN,NaN,False,None,88.0
17700,tr84_0001326801_0001326801-18-000009,87,24,88,88,,NaN,NaN,True,page_number,88.0

--------------------------------------------------
Document ID: tr85_0001393311_0001393311-13-000004
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr85_0001393311_0001393311-13-000004,0,0,10-K 1 ps10k_2012.htm PUBLIC STORAGE FORM 10K,10 k 1 ps10k 2012.htm public storage form 10k,,NaN,NaN,True,cover,1.0
20,tr85_0001393311_0001393311-13-000004,0,1,**UNITED STATES SECURITIES AND EXCHANGE COMMIS...,united states securities and exchange commission,,NaN,NaN,True,cover,1.0
30,tr85_0001393311_0001393311-13-000004,0,2,"**WASHINGTON, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,1.0
40,tr85_0001393311_0001393311-13-000004,0,3,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,1.0
50,tr85_0001393311_0001393311-13-000004,0,4,**[X] Annual Report Pursuant to Section 13 or ...,[x] annual report pursuant to section 13 or 15...,,NaN,NaN,True,cover,1.0
...,...,...,...,...,...,...,...,...,...,...,...
15760,tr85_0001393311_0001393311-13-000004,159,1,2012 Initial Cost Costs Gross Carrying Amount\...,2012 initial cost costs gross carrying amount ...,,NaN,NaN,True,header,98.0
15770,tr85_0001393311_0001393311-13-000004,159,2,**Other properties**,other properties,,NaN,NaN,False,None,98.0
15780,tr85_0001393311_0001393311-13-000004,159,3,"02/16/96 Glendale/Western Avenue - 1,622 3,771...","02/16/96 glendale/western avenue 1,622 3,771 1...",,NaN,NaN,False,None,98.0
15790,tr85_0001393311_0001393311-13-000004,159,4,Note: Buildings are depreciated over a useful ...,note: buildings are depreciated over a useful ...,,NaN,NaN,False,None,98.0
15800,tr85_0001393311_0001393311-13-000004,159,5,F-98,f 98,,NaN,NaN,True,page_number,98.0

--------------------------------------------------
Document ID: tr86_0001396009_0001396009-14-000006
missing: ['item01', 'item01and02', 'item01a', 'item01b', 'item02', 'item03', 'item04', 'item05', 'item06', 'item07', 'item07a', 'item08', 'item09', 'item09a', 'item09b', 'item10', 'item11', 'item12', 'item13', 'item14', 'item15']

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr86_0001396009_0001396009-14-000006,0,0,10-K 1 vmc-20131231x10k.htm 10-K,10 k 1 vmc 20131231x10k.htm 10 k,,NaN,NaN,True,cover,NaN
20,tr86_0001396009_0001396009-14-000006,0,1,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
30,tr86_0001396009_0001396009-14-000006,0,2,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
40,tr86_0001396009_0001396009-14-000006,0,3,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
50,tr86_0001396009_0001396009-14-000006,0,4,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
20820,tr86_0001396009_0001396009-14-000006,114,19,_1_,1,,NaN,NaN,False,None,3.0
20830,tr86_0001396009_0001396009-14-000006,114,20,_Incorporated by reference._,incorporated by reference.,,NaN,NaN,False,None,3.0
20840,tr86_0001396009_0001396009-14-000006,114,21,2 _Management contract or compensatory plan._,2 management contract or compensatory plan.,,NaN,NaN,False,None,3.0
20850,tr86_0001396009_0001396009-14-000006,114,22,Our SEC file number for documents filed with t...,our sec file number for documents filed with t...,,NaN,NaN,False,None,3.0
20860,tr86_0001396009_0001396009-14-000006,114,23,E-3,e 3,,NaN,NaN,True,page_number,3.0

--------------------------------------------------
Document ID: tr87_0001403161_0001403161-19-000050
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr87_0001403161_0001403161-19-000050,0,0,Table of Contents,table of contents,,NaN,NaN,True,cover,NaN
20,tr87_0001403161_0001403161-19-000050,0,1,**UNITED STATES SECURITIES AND EXCHANGE COMMIS...,united states securities and exchange commission,,NaN,NaN,True,cover,NaN
30,tr87_0001403161_0001403161-19-000050,0,2,"**WASHINGTON, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
40,tr87_0001403161_0001403161-19-000050,0,3,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
50,tr87_0001403161_0001403161-19-000050,0,4,☑ **ANNUAL REPORT PURSUANT TO SECTION 13 OR 15...,☑ annual report pursuant to section 13 or 15(d...,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
28510,tr87_0001403161_0001403161-19-000050,119,28,"/s/ John A. C. Swainson Director November 14, ...","/s/ john a. c. swainson director november 14, ...",,NaN,NaN,False,None,120.0
28520,tr87_0001403161_0001403161-19-000050,119,29,**John A. C. Swainson**,john a. c. swainson,,NaN,NaN,False,None,120.0
28530,tr87_0001403161_0001403161-19-000050,119,30,"/s/ Maynard G. Webb, Jr. Director November 14,...","/s/ maynard g. webb, jr. director november 14,...",,NaN,NaN,False,None,120.0
28540,tr87_0001403161_0001403161-19-000050,119,31,"**Maynard G. Webb, Jr.**","maynard g. webb, jr.",,NaN,NaN,False,None,120.0
28550,tr87_0001403161_0001403161-19-000050,119,32,120,120,,NaN,NaN,True,page_number,120.0

--------------------------------------------------
Document ID: tr88_0001404912_0001047469-15-001418
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr88_0001404912_0001047469-15-001418,0,0,10-K 1 a2223180z10-k.htm 10-K,10 k 1 a2223180z10 k.htm 10 k,,NaN,NaN,True,cover,NaN
20,tr88_0001404912_0001047469-15-001418,0,1,Use these links to rapidly review the document...,use these links to rapidly review the document...,,NaN,NaN,True,cover,NaN
30,tr88_0001404912_0001047469-15-001418,0,2,Table of Contents,table of contents,,NaN,NaN,True,cover,NaN
40,tr88_0001404912_0001047469-15-001418,0,3,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
50,tr88_0001404912_0001047469-15-001418,0,4,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
42830,tr88_0001404912_0001047469-15-001418,326,3,101 Interactive data files pursuant to Rule 40...,101 interactive data files pursuant to rule 40...,,NaN,NaN,False,None,326.0
42840,tr88_0001404912_0001047469-15-001418,326,4,- Management contract or compensatory plan in ...,management contract or compensatory plan in wh...,,NaN,NaN,False,None,326.0
42850,tr88_0001404912_0001047469-15-001418,326,5,** Management contract or compensatory plan in...,management contract or compensatory plan in wh...,,NaN,NaN,False,None,326.0
42860,tr88_0001404912_0001047469-15-001418,326,6,The agreements and other documents filed as ex...,the agreements and other documents filed as ex...,,NaN,NaN,False,None,326.0
42870,tr88_0001404912_0001047469-15-001418,326,7,326,326,,NaN,NaN,True,page_number,326.0

--------------------------------------------------
Document ID: tr89_0001410636_0001410636-23-000020
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr89_0001410636_0001410636-23-000020,0,0,Table of Contents,table of contents,,NaN,NaN,True,cover,NaN
20,tr89_0001410636_0001410636-23-000020,0,1,**(Mark One)**,(mark one),,NaN,NaN,True,cover,NaN
30,tr89_0001410636_0001410636-23-000020,0,2,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
40,tr89_0001410636_0001410636-23-000020,0,3,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
50,tr89_0001410636_0001410636-23-000020,0,4,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
20330,tr89_0001410636_0001410636-23-000020,143,23,**(Director)(Director)**,(director) (director),,NaN,NaN,False,None,142.0
20340,tr89_0001410636_0001410636-23-000020,143,24,/s/ JAMES G. STAVRIDIS,/s/ james g. stavridis,,NaN,NaN,False,None,142.0
20350,tr89_0001410636_0001410636-23-000020,143,25,**James G. Stavridis**,james g. stavridis,,NaN,NaN,False,None,142.0
20360,tr89_0001410636_0001410636-23-000020,143,26,**(Director)**,(director),,NaN,NaN,False,None,142.0
20370,tr89_0001410636_0001410636-23-000020,143,27,142,142,,NaN,NaN,True,page_number,142.0

--------------------------------------------------
Document ID: tr90_0001418135_0001418135-22-000005
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr90_0001418135_0001418135-22-000005,0,0,**UNITED STATES SECURITIES AND EXCHANGE COMMIS...,united states securities and exchange commission,,NaN,NaN,True,cover,NaN
20,tr90_0001418135_0001418135-22-000005,0,1,"**WASHINGTON, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
30,tr90_0001418135_0001418135-22-000005,0,2,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
40,tr90_0001418135_0001418135-22-000005,0,3,☒ **ANNUAL REPORT PURSUANT TO SECTION 13 OR 15...,☒ annual report pursuant to section 13 or 15(d...,,NaN,NaN,True,cover,NaN
50,tr90_0001418135_0001418135-22-000005,0,4,"**FOR THE FISCAL YEAR ENDED December 31, 2021**","for the fiscal year ended december 31, 2021",,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
19940,tr90_0001418135_0001418135-22-000005,112,13,By: /s/ Paul S. Michaels By: /s/ Pamela Patsle...,by: /s/ paul s. michaels by: /s/ pamela patsle...,,NaN,NaN,False,None,109.0
19950,tr90_0001418135_0001418135-22-000005,112,14,By: /s/ Lubomira Rochet By: /s/ Debra Sandler\...,by: /s/ lubomira rochet by: /s/ debra sandler ...,,NaN,NaN,False,None,109.0
19960,tr90_0001418135_0001418135-22-000005,112,15,By: /s/ Robert Singer By: /s/ Justine Tan\nNam...,by: /s/ robert singer by: /s/ justine tan name...,,NaN,NaN,False,None,109.0
19970,tr90_0001418135_0001418135-22-000005,112,16,By: /s/ Nelson Urdaneta By: /s/ Larry Young\nN...,by: /s/ nelson urdaneta by: /s/ larry young na...,,NaN,NaN,False,None,109.0
19980,tr90_0001418135_0001418135-22-000005,112,17,109,109,,NaN,NaN,True,page_number,109.0

--------------------------------------------------
Document ID: tr91_0001437107_0001437107-18-000028
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr91_0001437107_0001437107-18-000028,0,0,10-K 1 disca-2017123110k.htm 10-K,10 k 1 disca 2017123110k.htm 10 k,,NaN,NaN,True,cover,NaN
20,tr91_0001437107_0001437107-18-000028,0,1,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
30,tr91_0001437107_0001437107-18-000028,0,2,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
40,tr91_0001437107_0001437107-18-000028,0,3,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
50,tr91_0001437107_0001437107-18-000028,0,4,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
35640,tr91_0001437107_0001437107-18-000028,161,27,Daniel Sanchez,daniel sanchez,,NaN,NaN,False,None,NaN
35650,tr91_0001437107_0001437107-18-000028,161,28,"/s/ Susan M. Swain Director February 28, 2018","/s/ susan m. swain director february 28, 2018",,NaN,NaN,False,None,NaN
35660,tr91_0001437107_0001437107-18-000028,161,29,Susan M. Swain,susan m. swain,,NaN,NaN,False,None,NaN
35670,tr91_0001437107_0001437107-18-000028,161,30,"/s/ J. David Wargo Director February 28, 2018","/s/ j. david wargo director february 28, 2018",,NaN,NaN,False,None,NaN
35680,tr91_0001437107_0001437107-18-000028,161,31,J. David Wargo,j. david wargo,,NaN,NaN,False,None,NaN

--------------------------------------------------
Document ID: tr92_0001506307_0001506307-23-000023
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr92_0001506307_0001506307-23-000023,0,0,**UNITED STATES SECURITIES AND EXCHANGE COMMIS...,united states securities and exchange commission,,NaN,NaN,True,cover,NaN
20,tr92_0001506307_0001506307-23-000023,0,1,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
30,tr92_0001506307_0001506307-23-000023,0,2,**Form 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
40,tr92_0001506307_0001506307-23-000023,0,3,☑ **ANNUAL REPORT PURSUANT TO SECTION 13 OR 15...,☑ annual report pursuant to section 13 or 15(d),,NaN,NaN,True,cover,NaN
50,tr92_0001506307_0001506307-23-000023,0,4,**OF THE SECURITIES EXCHANGE ACT OF 1934**,of the securities exchange act of 1934,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
22210,tr92_0001506307_0001506307-23-000023,138,17,/s/ WILLIAM A. SMITH\nDirector\nWilliam A. Smi...,/s/ william a. smith director william a. smith...,,NaN,NaN,False,None,136.0
22220,tr92_0001506307_0001506307-23-000023,138,18,/s/ JOEL V. STAFF\nDirector\nJoel V. Staff Feb...,/s/ joel v. staff director joel v. staff febru...,,NaN,NaN,False,None,136.0
22230,tr92_0001506307_0001506307-23-000023,138,19,/s/ ROBERT F. VAGT\nDirector\nRobert F. Vagt F...,/s/ robert f. vagt director robert f. vagt feb...,,NaN,NaN,False,None,136.0
22240,tr92_0001506307_0001506307-23-000023,138,20,/s/ PERRY M. WAUGHTAL\nDirector\nPerry M. Waug...,/s/ perry m. waughtal director perry m. waught...,,NaN,NaN,False,None,136.0
22250,tr92_0001506307_0001506307-23-000023,138,21,136,136,,NaN,NaN,True,page_number,136.0

--------------------------------------------------
Document ID: tr93_0001510295_0001510295-18-000024
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr93_0001510295_0001510295-18-000024,0,0,10-K 1 mpc-20171231x10k.htm 10-K,10 k 1 mpc 20171231x10k.htm 10 k,,NaN,NaN,True,cover,NaN
20,tr93_0001510295_0001510295-18-000024,0,1,**Table of Contents**,table of contents,,NaN,NaN,True,cover,NaN
30,tr93_0001510295_0001510295-18-000024,0,2,**(Mark One)**,(mark one),,NaN,NaN,True,cover,NaN
40,tr93_0001510295_0001510295-18-000024,0,3,**UNITED STATES SECURITIES AND EXCHANGE COMMIS...,united states securities and exchange commission,,NaN,NaN,True,cover,NaN
50,tr93_0001510295_0001510295-18-000024,0,4,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
37810,tr93_0001510295_0001510295-18-000024,155,0,**Table of Contents**,table of contents,,NaN,NaN,True,header,154.0
37820,tr93_0001510295_0001510295-18-000024,155,1,"- The undersigned, by signing his name hereto,...","the undersigned, by signing his name hereto, d...",,NaN,NaN,False,None,154.0
37830,tr93_0001510295_0001510295-18-000024,155,2,"By: /s/ Gary R. Heminger February 28, 2018","by: /s/ gary r. heminger february 28, 2018",,NaN,NaN,False,None,154.0
37840,tr93_0001510295_0001510295-18-000024,155,3,Gary R. Heminger\nAttorney-in-Fact,gary r. heminger attorney in fact,,NaN,NaN,False,None,154.0
37850,tr93_0001510295_0001510295-18-000024,155,4,154,154,,NaN,NaN,True,page_number,154.0

--------------------------------------------------
Document ID: tr94_0001521332_0001521332-19-000007
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr94_0001521332_0001521332-19-000007,0,0,10-K 1 aptv1231201810k.htm 10-K\nTable of Cont...,10 k 1 aptv1231201810k.htm 10 k table of contents,,NaN,NaN,True,cover,NaN
20,tr94_0001521332_0001521332-19-000007,0,1,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
30,tr94_0001521332_0001521332-19-000007,0,2,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
40,tr94_0001521332_0001521332-19-000007,0,3,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
50,tr94_0001521332_0001521332-19-000007,0,4,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
38470,tr94_0001521332_0001521332-19-000007,149,7,/s/ Thomas W. Sidlik Director,/s/ thomas w. sidlik director,,NaN,NaN,False,None,150.0
38480,tr94_0001521332_0001521332-19-000007,149,8,Thomas W. Sidlik,thomas w. sidlik,,NaN,NaN,False,None,150.0
38490,tr94_0001521332_0001521332-19-000007,149,9,/s/ Lawrence A. Zimmerman Director,/s/ lawrence a. zimmerman director,,NaN,NaN,False,None,150.0
38500,tr94_0001521332_0001521332-19-000007,149,10,Lawrence A. Zimmerman,lawrence a. zimmerman,,NaN,NaN,False,None,150.0
38510,tr94_0001521332_0001521332-19-000007,149,11,150,150,,NaN,NaN,True,page_number,150.0

--------------------------------------------------
Document ID: tr95_0001551182_0001551182-23-000004
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr95_0001551182_0001551182-23-000004,0,0,Table of contents,table of contents,,NaN,NaN,True,cover,NaN
20,tr95_0001551182_0001551182-23-000004,0,1,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
30,tr95_0001551182_0001551182-23-000004,0,2,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
40,tr95_0001551182_0001551182-23-000004,0,3,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
50,tr95_0001551182_0001551182-23-000004,0,4,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
15240,tr95_0001551182_0001551182-23-000004,96,1,The Company is exposed to fluctuations in comm...,the company is exposed to fluctuations in comm...,,NaN,NaN,False,None,96.0
15250,tr95_0001551182_0001551182-23-000004,96,2,The Company is exposed to currency risk associ...,the company is exposed to currency risk associ...,,NaN,NaN,False,None,96.0
15260,tr95_0001551182_0001551182-23-000004,96,3,**FORWARD-LOOKING STATEMENTS**,forward looking statements,,NaN,NaN,False,None,96.0
15270,tr95_0001551182_0001551182-23-000004,96,4,This Annual Report to Shareholders contains fo...,this annual report to shareholders contains fo...,,NaN,NaN,False,None,96.0
15280,tr95_0001551182_0001551182-23-000004,96,5,96,96,,NaN,NaN,True,page_number,96.0

--------------------------------------------------
Document ID: tr96_0001571996_0001571996-17-000004
missing: []

duplicates: ['item08']

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr96_0001571996_0001571996-17-000004,0,0,10-K 1 delltechnologiesfy1710k.htm 10-K\nTable...,10 k 1 delltechnologiesfy1710k.htm 10 k table ...,,NaN,NaN,True,cover,1.0
20,tr96_0001571996_0001571996-17-000004,0,1,(Mark One),(mark one),,NaN,NaN,True,cover,1.0
30,tr96_0001571996_0001571996-17-000004,0,2,**UNITED STATES**,united states,,NaN,NaN,True,cover,1.0
40,tr96_0001571996_0001571996-17-000004,0,3,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,1.0
50,tr96_0001571996_0001571996-17-000004,0,4,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,1.0
...,...,...,...,...,...,...,...,...,...,...,...
36210,tr96_0001571996_0001571996-17-000004,177,9,††† Furnished with this report.,††† furnished with this report.,,NaN,NaN,False,None,178.0
36220,tr96_0001571996_0001571996-17-000004,177,10,- Management contracts or compensation plans o...,management contracts or compensation plans or ...,,NaN,NaN,False,None,178.0
36230,tr96_0001571996_0001571996-17-000004,177,11,** Pursuant to Item 601(b)(4)(iii) of Regulati...,pursuant to item 601(b)(4)(iii) of regulation ...,,NaN,NaN,False,None,178.0
36240,tr96_0001571996_0001571996-17-000004,177,12,178,178,,NaN,NaN,True,page_number,178.0
36250,tr96_0001571996_0001571996-17-000004,177,13,"|23.1††|Consent of PricewaterhouseCoopers LLP,...","|23.1††|consent of pricewaterhousecoopers llp,...",,NaN,NaN,False,None,178.0

--------------------------------------------------
Document ID: tr97_0001590895_0001590895-24-000051
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr97_0001590895_0001590895-24-000051,0,0,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
20,tr97_0001590895_0001590895-24-000051,0,1,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
30,tr97_0001590895_0001590895-24-000051,0,2,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
40,tr97_0001590895_0001590895-24-000051,0,3,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
50,tr97_0001590895_0001590895-24-000051,0,4,**(Mark One)**,(mark one),,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
22350,tr97_0001590895_0001590895-24-000051,122,28,Michael E. Pegram,michael e. pegram,,NaN,NaN,False,None,123.0
22360,tr97_0001590895_0001590895-24-000051,122,29,"/s/ David P. Tomick Director February 20, 2024","/s/ david p. tomick director february 20, 2024",,NaN,NaN,False,None,123.0
22370,tr97_0001590895_0001590895-24-000051,122,30,David P. Tomick,david p. tomick,,NaN,NaN,False,None,123.0
22380,tr97_0001590895_0001590895-24-000051,122,31,Table of Contents,table of contents,,NaN,NaN,False,None,123.0
22390,tr97_0001590895_0001590895-24-000051,122,32,123,123,,NaN,NaN,True,page_number,123.0

--------------------------------------------------
Document ID: tr98_0001590955_0001564590-20-004636
missing: ['item09b']

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr98_0001590955_0001564590-20-004636,0,0,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
20,tr98_0001590955_0001564590-20-004636,0,1,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
30,tr98_0001590955_0001564590-20-004636,0,2,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
40,tr98_0001590955_0001564590-20-004636,0,3,**FORM 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
50,tr98_0001590955_0001564590-20-004636,0,4,**(Mark One)**,(mark one),,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
11750,tr98_0001590955_0001564590-20-004636,74,11,/s/ Janet Haugen\nJanet Haugen\nDirector,/s/ janet haugen janet haugen director,,NaN,NaN,False,None,73.0
11760,tr98_0001590955_0001564590-20-004636,74,12,/s/ Robert J. Levenson\nRobert J. Levenson\nDi...,/s/ robert j. levenson robert j. levenson dire...,,NaN,NaN,False,None,73.0
11770,tr98_0001590955_0001564590-20-004636,74,13,/s/ Frederick C. Peters II\nFrederick C. Peter...,/s/ frederick c. peters ii frederick c. peters...,,NaN,NaN,False,None,73.0
11780,tr98_0001590955_0001564590-20-004636,74,14,"/s/ J.C. Watts, Jr.\nJ.C. Watts, Jr.\nDirector","/s/ j.c. watts, jr. j.c. watts, jr. director",,NaN,NaN,False,None,73.0
11790,tr98_0001590955_0001564590-20-004636,74,15,73,73,,NaN,NaN,True,page_number,73.0

--------------------------------------------------
Document ID: tr99_0001601046_0001601046-22-000161
missing: []

duplicates: []

misplaced: []

,doc_id,page_number,pos_in_page,md_text,clean_text,item,type,emb,is_noise,noise_type,detected_page_number
id,,,,,,,,,,,
10,tr99_0001601046_0001601046-22-000161,0,0,**UNITED STATES**,united states,,NaN,NaN,True,cover,NaN
20,tr99_0001601046_0001601046-22-000161,0,1,**SECURITIES AND EXCHANGE COMMISSION**,securities and exchange commission,,NaN,NaN,True,cover,NaN
30,tr99_0001601046_0001601046-22-000161,0,2,"**Washington, D.C. 20549**","washington, d.c. 20549",,NaN,NaN,True,cover,NaN
40,tr99_0001601046_0001601046-22-000161,0,3,**Form 10-K**,form 10 k,,NaN,NaN,True,cover,NaN
50,tr99_0001601046_0001601046-22-000161,0,4,**(Mark One)**,(mark one),,NaN,NaN,True,cover,NaN
...,...,...,...,...,...,...,...,...,...,...,...
18230,tr99_0001601046_0001601046-22-000161,109,23,"/s/ ROBERT A. RANGO Director December 15, 2022","/s/ robert a. rango director december 15, 2022",,NaN,NaN,False,None,109.0
18240,tr99_0001601046_0001601046-22-000161,109,24,**Robert A. Rango**,robert a. rango,,NaN,NaN,False,None,109.0
18250,tr99_0001601046_0001601046-22-000161,109,25,"/s/ KEVIN A. STEPHENS Director December 15, 2022","/s/ kevin a. stephens director december 15, 2022",,NaN,NaN,False,None,109.0
18260,tr99_0001601046_0001601046-22-000161,109,26,**Kevin A. Stephens**,kevin a. stephens,,NaN,NaN,False,None,109.0
18270,tr99_0001601046_0001601046-22-000161,109,27,109,109,,NaN,NaN,True,page_number,109.0

--------------------------------------------------

In [5]:
test_folder_path = 'outputs/test'

filenames_test = [f for f in os.listdir(test_folder_path) if f.startswith('t')]
filenames_test = sorted(filenames_test)

dfs = []

for filename in filenames_test:
    print(f"Document ID: {filename}")

    df = pd.read_parquet(f'{test_folder_path}/{filename}/df_toc.parquet')

    df = df[~df['clean_text'].isin(['part i', 'part ii', 'part iii', 'part iv'])]

    df['md_text'] = df['md_text'].apply(lambda x: re.sub(r'\*\*\s+\*\*', '', x))


    result = first_search(df, print_results=True)
    detected = result['detected']

    df['item'] = ''

    if detected:
        for item in detected:
            df.at[item['id'], 'item'] = item['label']

    # Json dumo results
    with open(f'{test_folder_path}/{filename}/item_fuzz.json', 'w') as f:
        json.dump(result, f, indent=4)
    

    df.to_parquet(f'{test_folder_path}/{filename}/df_item_fuzz.parquet')
    
    print('-'*50)

    dfs.append(df)

Document ID: ts00_0000004127_0000004127-13-000056
missing: []

duplicates: []

misplaced: []

--------------------------------------------------
Document ID: ts01_0000004127_0000004127-18-000046
missing: []

duplicates: []

misplaced: []

--------------------------------------------------
Document ID: ts02_0000004447_0001628280-22-004524
missing: []

duplicates: []

misplaced: []

--------------------------------------------------
Document ID: ts03_0000010456_0001193125-14-061654
missing: []

duplicates: []

misplaced: []

--------------------------------------------------
Document ID: ts04_0000010456_0001628280-22-003432
missing: []

duplicates: []

misplaced: []

--------------------------------------------------
Document ID: ts05_0000018230_0000018230-19-000034
missing: ['item01c']

duplicates: []

misplaced: []

--------------------------------------------------
Document ID: ts06_0000021076_0001206774-14-002682
missing: []

duplicates: []

misplaced: []

--------------------------------------------------
Document ID: ts07_0000024545_0000024545-20-000005
missing: []

duplicates: []

misplaced: []

--------------------------------------------------
Document ID: ts08_0000033185_0000033185-19-000007
Removing toc at page 1
missing: []

duplicates: []

misplaced: []

--------------------------------------------------
Document ID: ts09_0000032604_0000032604-17-000046
missing: []

duplicates: []

misplaced: []

--------------------------------------------------
Document ID: ts10_0001751788_0001751788-20-000007
missing: []

duplicates: []

misplaced: []

--------------------------------------------------
Document ID: ts11_0000037996_0000037996-14-000010
missing: []

duplicates: ['item03', 'item07', 'item07a']

misplaced: []

--------------------------------------------------
Document ID: ts12_0000049196_0000049196-16-000032
missing: []

duplicates: []

misplaced: []

--------------------------------------------------
Document ID: ts13_0000049826_0000049826-13-000007
missing: []

duplicates: []

misplaced: []

--------------------------------------------------
Document ID: ts14_0000049826_0000049826-17-000022
Removing toc at page 1
missing: []

duplicates: []

misplaced: []

--------------------------------------------------
Document ID: ts15_0000052988_0000052988-13-000140
missing: []

duplicates: []

misplaced: []

--------------------------------------------------
Document ID: ts16_0000059478_0000059478-22-000068
missing: ['item05', 'item07']

duplicates: []

misplaced: []

--------------------------------------------------
Document ID: ts17_0000062709_0000062709-23-000014
missing: []

duplicates: []

misplaced: []

--------------------------------------------------
Document ID: ts18_0000063908_0000063908-22-000011
missing: ['item01', 'item01and02', 'item01a', 'item01b', 'item02', 'item03', 'item04', 'item05', 'item06', 'item07', 'item07a', 'item08', 'item09', 'item09a', 'item09b', 'item09c', 'item10', 'item11', 'item12', 'item13', 'item14', 'item15', 'item16']

duplicates: []

misplaced: []

--------------------------------------------------
Document ID: ts19_0000077360_0000077360-19-000006
missing: []

duplicates: []

misplaced: []

--------------------------------------------------
Document ID: ts20_0000078003_0000078003-16-000077
missing: []

duplicates: []

misplaced: []

--------------------------------------------------
Document ID: ts21_0000079282_0000079282-16-000034
missing: []

duplicates: []

misplaced: []

--------------------------------------------------
Document ID: ts22_0000089800_0000089800-13-000046
missing: []

duplicates: []

misplaced: []

--------------------------------------------------
Document ID: ts23_0000091419_0001193125-15-235197
missing: []

duplicates: []

misplaced: []

--------------------------------------------------
Document ID: ts24_0000100493_0000100493-15-000109
missing: []

duplicates: []

misplaced: []

--------------------------------------------------
Document ID: ts25_0000105770_0000105770-15-000007
missing: []

duplicates: []

misplaced: []

--------------------------------------------------
Document ID: ts26_0000106535_0000106535-13-000011
missing: ['item01', 'item01and02', 'item01a', 'item01b', 'item02', 'item03', 'item04', 'item05', 'item06', 'item07', 'item07a', 'item08', 'item09', 'item09a', 'item09b', 'item10', 'item11', 'item12', 'item13', 'item14', 'item15']

duplicates: []

misplaced: []

--------------------------------------------------
Document ID: ts27_0000310158_0001628280-24-006850
missing: []

duplicates: []

misplaced: []

--------------------------------------------------
Document ID: ts28_0000315293_0001628280-17-001652
missing: []

duplicates: []

misplaced: []

--------------------------------------------------
Document ID: ts29_0000319201_0000319201-18-000045
missing: []

duplicates: []

misplaced: []

--------------------------------------------------
Document ID: ts30_0000711404_0000711404-14-000017
missing: ['item04']

duplicates: []

misplaced: []

--------------------------------------------------
Document ID: ts31_0000715957_0001193125-17-060413
missing: []

duplicates: []

misplaced: []

--------------------------------------------------
Document ID: ts32_0000715957_0001564590-21-008442
missing: []

duplicates: []

misplaced: []

--------------------------------------------------
Document ID: ts33_0000723254_0000723254-23-000025
missing: ['item05', 'item07', 'item09', 'item09c', 'item12', 'item13']

duplicates: []

misplaced: []

--------------------------------------------------
Document ID: ts34_0000732717_0000732717-18-000009
missing: ['item01b', 'item05', 'item12']

duplicates: []

misplaced: []

--------------------------------------------------
Document ID: ts35_0000740260_0000740260-22-000057
missing: []

duplicates: []

misplaced: []

--------------------------------------------------
Document ID: ts36_0000753308_0000753308-16-000337
missing: []

duplicates: []

misplaced: []

--------------------------------------------------
Document ID: ts37_0000764180_0000764180-22-000019
missing: []

duplicates: []

misplaced: []

--------------------------------------------------
Document ID: ts38_0000765880_0001558370-15-000067
missing: []

duplicates: []

misplaced: []

--------------------------------------------------
Document ID: ts39_0000766704_0000766704-21-000018
missing: []

duplicates: ['item07']

misplaced: []

--------------------------------------------------
Document ID: ts40_0000773840_0000930413-13-000907
missing: ['item10']

duplicates: []

misplaced: []

--------------------------------------------------
Document ID: ts41_0000779152_0000779152-18-000060
missing: []

duplicates: []

misplaced: []

--------------------------------------------------
Document ID: ts42_0000788784_0000788784-20-000004
missing: ['item09', 'item12']

duplicates: []

misplaced: []

--------------------------------------------------
Document ID: ts43_0000789570_0001564590-15-001180
missing: []

duplicates: []

misplaced: []

--------------------------------------------------
Document ID: ts44_0000798354_0001628280-16-011435
missing: []

duplicates: []

misplaced: []

--------------------------------------------------
Document ID: ts45_0000831259_0000831259-19-000009
missing: ['item07', 'item07a']

duplicates: []

misplaced: []

--------------------------------------------------
Document ID: ts46_0000879101_0001437749-18-003230
missing: []

duplicates: []

misplaced: []

--------------------------------------------------
Document ID: ts47_0000879101_0001437749-19-002746
missing: []

duplicates: []

misplaced: []

--------------------------------------------------
Document ID: ts48_0000879169_0001558370-20-000774
missing: []

duplicates: []

misplaced: []

--------------------------------------------------
Document ID: ts49_0000882184_0000882184-21-000190
missing: []

duplicates: []

misplaced: []

--------------------------------------------------

In [ ]:
data = [
    {'doc': 'ts05', 'fuzzy_missing': 1, 'fuzzy_duplicates': 0, 'llm_missing': 1,  'llm_duplicates': 0},
    {'doc': 'ts11', 'fuzzy_missing': 0, 'fuzzy_duplicates': 2, 'llm_missing': 0,  'llm_duplicates': 0},
    {'doc': 'ts16', 'fuzzy_missing': 2, 'fuzzy_duplicates': 0, 'llm_missing': 0,  'llm_duplicates': 0},
    {'doc': 'ts18', 'fuzzy_missing': 11,'fuzzy_duplicates': 0, 'llm_missing': 0,  'llm_duplicates': 0},
    {'doc': 'ts26', 'fuzzy_missing': 20,'fuzzy_duplicates': 0, 'llm_missing': 16, 'llm_duplicates': 0},
    {'doc': 'ts33', 'fuzzy_missing': 6, 'fuzzy_duplicates': 0, 'llm_missing': 0,  'llm_duplicates': 0},
    {'doc': 'ts34', 'fuzzy_missing': 2, 'fuzzy_duplicates': 0, 'llm_missing': 0,  'llm_duplicates': 0},
    {'doc': 'ts39', 'fuzzy_missing': 0, 'fuzzy_duplicates': 1, 'llm_missing': 0,  'llm_duplicates': 0},
    {'doc': 'ts40', 'fuzzy_missing': 1, 'fuzzy_duplicates': 0, 'llm_missing': 0,  'llm_duplicates': 0},
    {'doc': 'ts42', 'fuzzy_missing': 2, 'fuzzy_duplicates': 0, 'llm_missing': 0,  'llm_duplicates': 0},
    {'doc': 'ts45', 'fuzzy_missing': 2, 'fuzzy_duplicates': 0, 'llm_missing': 0,  'llm_duplicates': 0},
]

# Sort by total Fuzzy errors (descending)
for d in data:
    d['fuzzy_total'] = d['fuzzy_missing'] + d['fuzzy_duplicates']
data_sorted = sorted(data, key=lambda x: x['fuzzy_total'], reverse=True)

doc_list             = [d['doc'] for d in data_sorted]
fuzzy_missing_list   = [d['fuzzy_missing']    for d in data_sorted]
fuzzy_duplicates_list= [d['fuzzy_duplicates'] for d in data_sorted]
llm_missing_list     = [d['llm_missing']      for d in data_sorted]
llm_duplicates_list  = [d['llm_duplicates']   for d in data_sorted]

# 3) Create grouped + stacked bars using offsetgroup and base
trace_fuzzy_missing = go.Bar(
    x=doc_list,
    y=fuzzy_missing_list,
    name='Fuzzy - Missing',
    marker_color='orange',
    offsetgroup='fuzzy'        # group Fuzzy bars together
)

trace_fuzzy_duplicates = go.Bar(
    x=doc_list,
    y=fuzzy_duplicates_list,
    name='Fuzzy - Duplicates',
    marker_color='red',
    offsetgroup='fuzzy',
    base=fuzzy_missing_list     # stack on top of "Fuzzy - Missing"
)

trace_llm_missing = go.Bar(
    x=doc_list,
    y=llm_missing_list,
    name='Fuzzy+LLM - Missing',
    marker_color='darkred',
    offsetgroup='llm'          # group LLM bars together
)

trace_llm_duplicates = go.Bar(
    x=doc_list,
    y=llm_duplicates_list,
    name='Fuzzy+LLM - Duplicates',
    marker_color='red',
    offsetgroup='llm',
    base=llm_missing_list       # stack on top of "Fuzzy+LLM - Missing"
)

fig = go.Figure(data=[
    trace_fuzzy_duplicates,
    trace_fuzzy_missing,
    trace_llm_missing,

])

# 4) Layout: 'group' mode => side-by-side groups;
#    using 'base=' => internal stacking within each group
fig.update_layout(
    barmode='group',
    title='Comparison of Fuzzy vs. Fuzzy+LLM Errors ',
    xaxis_title='Document\n',
    yaxis_title='Number of Errors',
    legend=dict(
        orientation='h',       # horizontal legend
        yanchor='bottom',
        y=-0.25,               # move it below the plot
        xanchor='center',
        x=0.5
    )
)

fig.show()